<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + '/images/header_background.png) no-repeat'">
                <h3 class="pg-header">ALL ORDERS</h3>
            </div>

            <div class="row">
              <div>
                <div class="table-responsive">
                    <vue-good-table
                    :columns="columns"
                    :rows="orders"
                    :search-options="{enabled: true}"
                    :sort-options="{enabled: true,initialSortBy: {field: 'created_at', type: 'desc'}}"
                    :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                    :lineNumbers="true">
                        <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'product'">
                                <router-link v-if="props.row.order_type == 'normal'"  :to="{ name: 'product_page', params:{ product: props.row.slug}}" class="text-primary" aria-expanded="false">
                                    {{props.formattedRow[props.column.field]}}
                                </router-link>
                                <router-link v-else-if="props.row.order_type == 'custom'" :to="{ name: 'custom_product_page', params:{ id: props.row.product_id, vin: props.row.vin}}" class="text-primary" aria-expanded="false">
                                    {{props.formattedRow[props.column.field]}}
                                </router-link>
                            </span>
                            <span v-else-if="props.column.field == 'tracking_status'">
                                <span v-if="props.formattedRow[props.column.field] == 'new'" class="track_cyan">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'processing'" class="track_yellow">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'shipping'" class="track_purple">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'delivered'" class="track_green">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'not delivered'" class="track_thick_red">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                            </span>
                            <span v-else>
                                {{props.formattedRow[props.column.field]}}
                            </span>
                        </template> 
                    </vue-good-table>
                </div>
              </div>
            </div>


        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';

    .track_cyan{
        font-family: HelveticaNeueMed;
        color: #0faec8;
    }

    .track_yellow{
        font-family: HelveticaNeueMed;
        color: #ffb136;
    }

    .track_purple{
        font-family: HelveticaNeueMed;
        color: #6d325b;
    }

    .track_green{
        font-family: HelveticaNeueMed;
        color: #2ecc71;
    }

    .track_thick_red{
        font-family: HelveticaNeueMed;
        color: #a12327;
    }



   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:45px;
  }

  .btn{
    font-family: HelveticaNeueMed;
  }

  .text-primary {
        font-family: HelveticaNeueMed;
  }
 
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
  button.payButton {
      border: none;
      background: none;
  }
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import paystack from 'vue-paystack';

export default {
  components: {
    NavMenu,
    FooterMenu, 
    paystack,
  },
  data(){
    return {
      hosturl: index_url,
      orders: [],
      columns: [
          {
              label: 'ID',
              field: 'id',
              hidden: true,
          },
          {
              label: 'Order ID',
              field: 'order_id',
              hidden: true,
          },
          {
              label: 'Product ID',
              field: 'product_id',
              hidden: true,
          },
          {
              label: 'user_ID',
              field: 'user_id',
              hidden: true,
          },
          {
              label: 'vin',
              field: 'vin',
              hidden: true,
          },
          {
              label: 'slug',
              field: 'slug',
              hidden: true,
          },
          {
              label: 'Product',
              field: 'product',
          },
          {
              label: 'Order Type',
              field: 'order_type',
          },
          {
              label: 'Quantity',
              field: 'quantity',
          },
          {
              label: 'Total Price',
              field: 'total',
          },
          {
              label: 'Order Code',
              field: 'order_code',
          },
          {
              label: 'Status',
              field: 'tracking_status',
          },
          {
              label: 'Order Date',
              field: 'created_at',
          }
      ],
    }
  },
  created() {
  },
  mounted(){
      this.fetchData();
  },
  methods: {
          fetchData() {

              let $this = this;
                this.axios.get(index_url + '/api/get-orders', {
                    params:{
                      order_code: $this.$route.query.order_code
                    },
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.orders = response.data.orders;


                })
                .catch(error => {
                });
            
          },
          
  },

}

</script>