<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="password-container">

                        <div class="">

                            <div class="form-group">
                                <label>Current Password</label>
                                <input v-model="current_password" type="password" name="current_password" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>New Password</label>
                                <input v-model="password" type="password" name="password" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Repeat Password</label>
                                <input v-model="password_confirmation" type="password" name="password_confirmation" class="form-control"> 
                            </div>

                            <button @click="changepassword()" class="btn btn-primary">Change Password</button>
                        </div>

                    </div>
                </div>

                <div class="col-md-2"></div>

            </div>
        </div>


    </div>
</template>

<style scoped>

  .password-container{
    margin-top:40px;
    margin-bottom:40px;
    padding:30px;
    border-radius: 5px;
    background: white;
    border: solid 1px #e8e8e8;
  }

  .btn-primary, .btn-primary.disabled {
    background: #a12327;
    border: 2px solid #a12327;
    font-weight: 700;
    letter-spacing: 1.4px;  
  }

</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';

    import axios from 'axios';

    import store from '@/store/index';


    export default {

        components:{
          NavMenu,
        },

        data () {
            return {
                index_url: store.getters.index_url,
                current_password: '',
                password: '',
                password_confirmation: '',
              

            }
        },

        methods: {
            changepassword () {

                let $this = this; 
                this.$Progress.start();
                this.axios.post(index_url + '/api/change-password',{
                        current_password : $this.current_password,
                        password : $this.password,
                        password_confirmation : $this.password_confirmation,
                    }, 
                    {
                      headers: {
                          Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then( response  => { 

                    console.log(response);

                    if(response.data.msg == "success"){
                        $this.Swal(
                            'Password changed successfully',
                            '',
                            'success'
                        );
                    }else if(response.data.msg == "password_confirmation_failed"){
                        $this.Swal(
                            'Password and Repeat Password are not the same',
                            '',
                            'error'
                        );
                    }else{
                        $this.Swal(
                            'Current password not correct',
                            '',
                            'error'
                        );
                    }

                        
                    this.$Progress.finish();
                        
                })
                .catch(error => {
                    this.$Progress.fail();
                });
            },

            
        }
    }

</script>