<template>
    <div>
        <nav-menu :cartcount="cart_count"></nav-menu>

        <div class="container" style="margin-bottom: 60px">

            <div class="pg-header-bg" :style="'background: url(' + hosturl + 'images/header_background.png) no-repeat'">
                <h3 class="pg-header">CHECKOUT</h3>
            </div>

            <div class="grid-spinner"><grid-loader :loading="!initialload" :color="'#ed3137'"></grid-loader></div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div  v-if="initialload == true">
                  <div class="payment-box" v-if="payment_successful == false">
                    <h3 style="text-align: center;">Proceed to make payment</h3>

                    <div v-for="product in normal_product" :key="product.id">
                      <p>{{product.product_title}} (Normal) <strong>x{{product.quantity}}</strong></p>
                      <strong><span class="naira">₦</span>{{formatter.format(product.total)}}</strong>
                      <hr>
                    </div>

                    <div v-for="product in custom_product" :key="'custom_' + product.id">
                      <div v-if="product.total != 0">
                      <p>{{product.part_name}} (Custom) <strong>x{{product.quantity}}</strong></p>
                      <strong><span class="naira">₦</span>{{formatter.format(product.total)}}</strong>
                      <hr>
                      </div>
                    </div>

                    <h3 style="margin: 30px 0px">Total Price: <span class="naira">₦</span>{{formatter.format(totalprice)}}</h3>



                    <template>
                      <paystack
                          :amount="amount"
                          :email="email"
                          :paystackkey="paystackkey"
                          :reference="reference"
                          :callback="callback"
                          :close="close"
                          :embed="false">
                        <span class="btn btn-success" :disabled="disabled">Make Payment <i v-if="disabled == true" class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></span>
                      </paystack>
                    </template>

                  </div>
 

                </div>

                <div class="payment-successful" v-if="payment_successful == true">

                    <i class="fa fa-check" style="font-size:150px; color:#0d853b"></i>
                    <h3 style="text-align: center;">Payment Successful</h3>
                    <div><strong>You will receive a call from our representative shortly</strong></div>

                    <router-link :to="{name: 'allorders'}" class="btn btn-info" style="margin-top:25px"> View All Orders</router-link>

                </div>
              </div>
              <div class="col-md-2"></div>
            </div>


        </div>

        <footer-menu></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';


   .payment-box{
     background: white;
     border-radius: 10px;
     border: solid 1px #00000020;
     padding: 25px;
     
   }

   .payment-successful{
     background: white;
     border-radius: 10px;
     border: solid 1px #00000020;
     padding: 25px;
     text-align: center;
     
   }

   .payment-box p{
     margin-top: 10px;
   }

   .pg-header{
    font-size: 30px;
    color: $red;
    margin-top: 40px;
    padding: 45px 0px 0px 65px;
  }

  .pg-header-bg{
    height: 125px;
    background-size: contain !important;
    margin-bottom:5px;
  }

  .btn{
    font-family: HelveticaNeueMed;
  }

  .unit-price{
    font-family: HelveticaNeue;
    text-align: left;
    margin-top: 10px;
  }

  .quantity{
    font-family: HelveticaNeue;
    text-align: left;
  }

  .product-price{
    font-family: HelveticaNeueMed;
    margin-top: 10px;
  }

  .nodisplay{
    opacity: 0;
    cursor:default !important;
  }

  .nodisplay .btn{
    opacity: 0;
    cursor:default !important;
  }
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
  button.payButton {
      border: none;
      background: none;
  }

  .btn{
    color: white !important;
  }

  .grid-spinner{
    text-align: center;
    left: 50%;
    position: fixed;
    top: 30%;
  }
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import paystack from 'vue-paystack';

export default {
  components: {
    NavMenu,
    FooterMenu, 
    paystack,
  },
  data(){
    return {
      normal_product: [],
      custom_product: [],
      hosturl: index_url + "/",
      cart_count : 0,
      totalprice: 0,
      disabled: false,
      payment_successful: false,
      initialload: false,

      paystackkey: "pk_test_a74966b72f3f92fa5bb0da84f6e83786a78ed789", 
      email: "",
      formatter: new Intl.NumberFormat('en-US', {
          style: 'decimal',
          minimumFractionDigits: 2
      }),
    }
  },
  created() {
  },
  mounted(){
      this.fetchData();
  },

  computed: {
      reference(){
        let text = "";
        let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
 
        for( let i=0; i < 10; i++ )
          text += possible.charAt(Math.floor(Math.random() * possible.length));
 
        return text;
      },
      amount(){
        return parseInt(this.totalprice) * 100;
      }
  },
  methods: {
          fetchData() {

              let $this = this;
            
              this.axios.get(index_url + '/api/get-cart', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
              })
              .then(response => {
                  $this.normal_product = response.data.normal;
                  $this.custom_product = response.data.custom;
                  $this.cart_count = response.data.cart_count;
                  $this.totalprice = response.data.totalprice;
                  $this.email = response.data.email;

                  $this.initialload = true;

                  if($this.totalprice == 0){
                    $this.$router.push({ name: 'products' });
                  }
              })
              .catch(error => {
              });
          },
          
          callback(response){

              let $this = this;

              $this.disabled = true;

              if(response.status == "success"){
                  $this.axios.post(index_url + '/api/payment-successful',{
                    reference : response.reference,
                    totalprice : $this.totalprice,
                  }, {
                      headers: {
                          Authorization: 'Bearer ' + localStorage.getItem('token')
                      }
                    })
                    .then(response => {
                        $this.cart_count = response.data.cart_count;
                        window.scrollTo(0,0);
                        $this.payment_successful = true;
                        
                    })
                    .catch(error => {
                    });
              }else{
                
              }
          },
            
          close(){
          }
  },

}

</script>