<template>
    <div>
        <nav-menu></nav-menu>

        <div class="pg-div">
          <div class="container">
        
            <div class="row">
              <div class="pg-header-bg" style="background: url(images/header_background.png) no-repeat">
                  <h3 class="pg-header">CONTACT US</h3>
              </div>

              <div class="col-md-7">
                  <form @submit.prevent="sendMessage" @keydown="form.onKeydown($event)">
                      <div class="form-group">
                        <label>Name</label>
                        <input v-model="form.name" type="text" name="name" class="form-control">
                        <has-error :form="form" field="name"></has-error>
                      </div>

                      <div class="form-group">
                        <label>Email</label>
                        <input v-model="form.email" type="text" name="email" class="form-control">
                        <has-error :form="form" field="email"></has-error>
                      </div>

                      <div class="form-group">
                        <label>Subject</label>
                        <input v-model="form.subject" type="text" name="subject" class="form-control">
                        <has-error :form="form" field="subject"></has-error>
                      </div>

                      <div class="form-group">
                        <label>Subject</label>
                        <textarea v-model="form.message" name="message" id="" rows="5" class="form-control"></textarea>
                        <has-error :form="form" field="message"></has-error>
                      </div>

                      <button :disabled="form.busy" type="submit" class="btn btn-primary">Send</button>
                  </form>
              </div>
              <div class="col-md-5">
                <div v-html="content"> </div>
              </div>
            </div>

          </div>
        </div>


        <footer-menu></footer-menu>

    </div>
</template>

<style lang="scss" scoped >

    $black: #3d3d3d;
    $red: #ed3137;

    .pg-div{
      background-size: cover;
      padding: 40px 0px 100px;
    }

    .pg-header{
      font-size: 30px;
      color: $red;
      padding: 45px 0px 0px 65px;
    }

    .pg-header-bg{
      height: 125px;
      background-size: contain !important;
      margin-bottom:45px;
    }


    .mechanic img{
      width: 700px;
      margin-left: 48px;
      margin-top: 40px;
    }

    .pg_content{
      padding:0px 0px 0px 65px;
    }

    @media (max-width:1300px){ 
      .pg_content{
        padding:0px;
      }
    }

    @media (max-width:1300px){ 
      .mechanic img[data-v-64065a02] {
          object-fit: contain;
          width: 100%;
          margin-top: 40px;
          margin-left: 0px;
      }
    }


</style>


<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

import { Form, HasError, AlertError } from 'vform'

import Vue from 'vue'
Vue.component(HasError.name, HasError)
Vue.component(AlertError.name, AlertError)

export default {
    data(){
      return{
        content: '',

        form: new Form({
          name: '',
          email: '',
          subject: '',
          message: '',
        }),
      }
    },
    components: {
      NavMenu,
      FooterMenu, 
    },
    mounted(){
      this.initialLoad();
    },
    methods:{
      initialLoad(){
        let $this = this;
        this.axios.get(index_url + '/api/get-content-page/7')
            .then(response => {
                $this.content = response.data.contentpage.content;
            })
            .catch(error => {
            });
      },
      sendMessage () {

          let $this = this; 
          this.$Progress.start();

          this.form.post(index_url + '/api/send-message')
          .then(({ data }) => { 
              this.Swal(
                  'Success!',
                  'Message sent, we shall get back to you shortly :)',
                  'success'
              );  
              
              this.$Progress.finish();
          })
          .catch(error => {
              this.$Progress.fail();
                        
          });
      },

    }
}

</script>