<template>
    <div>
        <nav-menu :activemenu="active_menu"></nav-menu>

        <div class="container" style="margin: 60px 0px 60px" v-if="pageLoad == true">

            <div class="row" style="margin: 40px 0px 80px" v-if="product.total == 0">
               <vue-countdown-timer  v-if="timer == 'start' && product.total == 0"
                @start_callback="startCallBack('event started')"
                @end_callback="endCallBack('event ended')"
                :start-time="product.created_at"
                :end-time="endtime"
                :interval="1000"
                :start-label="'Until start:'"
                :end-label="'Until end:'"
                label-position="begin"
                :end-text="''"
                :day-txt="'days'"
                :hour-txt="'hours'"
                :minutes-txt="'minutes'"
                :seconds-txt="'seconds'">
                <template slot="start-label" slot-scope="scope">
                  <span style="color: red" v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'begin'"></span>
                  <span style="color: blue" v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'begin'"></span>
                </template>
              
                <template slot="countdown" slot-scope="scope">
                  <div class="countdown">
                    <div class="mytimer hour">
                      <div class="number">{{scope.props.hours}}</div>
                      <div class="text">{{scope.props.hourTxt}}</div>
                    </div>

                    <div class="mytimer minute">
                      <div class="number">{{scope.props.minutes}}</div>
                      <div class="text">{{scope.props.minutesTxt}}</div>
                    </div>

                    <div class="mytimer second">
                      <div class="number">{{scope.props.seconds}}</div>
                      <div class="text">{{scope.props.secondsTxt}}</div>
                    </div>
                  </div>
                </template>
              
                <template slot="end-label" slot-scope="scope">
                  <span style="color: red" v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'end'"></span>
                  <span style="color: blue" v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'end'"></span>
                </template>
                
                <template slot="end-text" slot-scope="scope">
                  <span style="color: green">{{ scope.props.endText}}</span>
                </template>
              </vue-countdown-timer>

              <div class="pleasewait"> Please wait while an autogig personnel update the product price. You will receive a call/email very soon </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div id="myCarousel" class="carousel slide" data-interval="false">


                    <div id="thumbCarousel" class="thumbCarousel-pc-view">
                        <div data-target="#myCarousel" :data-slide-to="0" class="thumb active"><img :src="imagelink(product.media)" alt="XZ" style=""></div>
                    </div>

                    <div class="carousel-inner" role="listbox" style="display:inline-block">
                      <div class="item active">
                          <img :src="imagelink(product.media)" alt="XZ">
                      </div>
                      
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                    <div id="thumbCarousel" style="" class="thumbCarousel-mobile-view">
                        <div data-target="#myCarousel" :data-slide-to="0" class="thumb active"><img :src="imagelink(product.media)" alt="XZ" style=""></div>
                    </div>
                    
          
                  </div>                    
                </div>
                <div class="col-md-6">
                    <div class="custom-product-description">
                      <h3 class="product-headline-main" v-html="product.part_name"></h3>
                      <div><strong>Unit Price:</strong> <span class="naira">₦</span>{{formatter.format(product.price)}}</div>
                      <div><strong>Quantity:</strong> {{product.quantity}}</div>
                      <div><strong>Shipping Price:</strong> <span class="naira">₦</span>{{formatter.format(product.shipping)}}</div>
                      <div><strong>Total Price:</strong> <span class="naira">₦</span>{{formatter.format(product.total)}}</div>
                      <div><strong>Vin:</strong> <b>{{product.vin}}</b></div>
                      <div><strong>Brand:</strong> {{product.brand}}</div>
                      <div><strong>Model:</strong> {{product.model}}</div>
                      <div><strong>year:</strong> {{product.year_selected}}</div>
                      <div><strong>Trim:</strong> {{product.trim}}</div>
                      <div><strong>Comment:</strong> {{product.comment}}</div>
                    </div>
                </div>
            </div> 

            <div class="row" style="text-align:center; margin-top:120px" v-if="product.total != 0">
              <router-link :to="{name: 'cart'}" class="btn btn-success btn-lg" style="">Proceed to cart</router-link>
            </div>


        </div>


        <footer-menu v-if="pageLoad == true"></footer-menu>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';

  .btn{
    font-family: HelveticaNeueMed;
    color: white
  }

   .product-headline-main{
     margin: 10px 0px !important;
   }

   .custom-product-description div{
     margin-top: 10px;
   }

   .custom-product-description strong{
     width: 150px;
     display: inline-block;
   }

   .mytimer{
     display: inline-block;
   }

   .countdown{
     text-align: center;
   }

   .countdown .hour, .countdown .minute, .countdown .second{
     width: 200px;
     height: 200px;
     background-color:#ed3137;
     color: white;
     vertical-align: middle;
     text-align: center;
     border-radius: 8px;
     font-family: HelveticaNeueMed;
     border: solid 1px #00000025;
   }

   .countdown .number{
      font-family: HelveticaNeueBd;    
      font-size: 55px;
      margin-top: 20%;
      position: relative;
   }

   .pleasewait{
     text-align: center;
     margin-top: 15px;
     font-family: HelveticaNeueMed;
     font-style: italic;
   }

</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
  components: {
    NavMenu,
    FooterMenu, 
  },
  data(){
    return {
      active_menu: "products",
      product: {},
      hosturl: index_url + "/",
      timer: "start",
      endtime: "",
      currenttime: "",
      formatter: new Intl.NumberFormat('en-US', {
          style: 'decimal',
          minimumFractionDigits: 2
      }),
      pageLoad: false,
    }
  },
  created() {
  },
  mounted(){
      this.carousel();
      this.fetchData();
  },
  methods: {
          fetchData() {

            

              let $this = this;
            
              this.axios.get(index_url + '/api/get-custom-product/' + this.$route.params.id + '/' + this.$route.params.vin, {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
              })
              .then(response => {

                  if(response.data.product.length == 0){
                    $this.$router.push({name: 'notfound'})
                  }

                  $this.product = response.data.product;
                  $this.endtime = response.data.endtime;
                  $this.currenttime = response.data.currenttime;

                  $this.pageLoad = true;

                  if($this.product.total == "" || $this.product.total == null || $this.product.total == undefined){
                    $this.product.total = 0;
                  }

              })
              .catch(error => {
                  
              });
          },

          imageActive(index){
            if(index == 0){
              return true;
            }else{
              return false;
            }
          },
          imagelink(link){
                if(link == null){
                  var img_src = "https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png";
                }else{
                  var img_src = index_url + '/' + link;
                }

                return img_src;
          },


          carousel(){
            $("#myCarousel").mouseover(function(){
              $("#myCarousel .carousel-control").show();
            });

            $("#myCarousel").mouseleave(function(){
              $("#myCarousel .carousel-control").hide();
            });
            
            //Active thumbnail
            $("#thumbCarousel .thumb").on("click", function(){
              $(this).addClass("active");
              $(this).siblings().removeClass("active");
            });
            
            //When the carousel slides, auto update
            $('#myCarousel').on('slid.bs.carousel', function(){
              var index = $('.carousel-inner .item.active').index();
              var thumbnailActive = $('#thumbCarousel .thumb[data-slide-to="'+index+'"]');
              thumbnailActive.addClass('active');
              $(thumbnailActive).siblings().removeClass("active");
            });
          },

          
          
          startCallBack: function (x) {
            this.timer = "start";
          },
          endCallBack: function (x) {
            if (this.endtime > this.currenttime){
              this.timer = "finished";
            }
          }
  },
  beforeRouteLeave (to, from, next) {

      next();
  },

}

</script>