
<template>
    <div>
        <nav-menu :cartcount="cart_count"></nav-menu>

        <div class="bg-image">
            <div class="crossfade">
                <div class ="bg" style="background:linear-gradient(to bottom, rgba(248, 218, 219, 0), #000000 86%, #000000), url(images/bg.jpg);">
                    <p class="main-headline-body">Visit our stores and enjoy discounted prices</p>
                </div>
                <div class ="bg" style="background:linear-gradient(to bottom, rgba(248, 218, 219, 0), #000000 86%, #000000), url(images/bg2.jpg);">
                    <p class="main-headline-body">Everything AUTO automaticallly gets here</p>
                </div>
                <div class ="bg" style="background:linear-gradient(to bottom, rgba(248, 218, 219, 0), #000000 86%, #000000), url(images/bg3.jpg);">
                    <p class="main-headline-body">We provide use or order form for custom orders </p>
                </div>
            </div>
            <div class="search_boxes">

                <div class="product_search">
                    <span style="color:white">PRODUCT SEARCH</span> 
                    <input type="search" v-model="search_product" name="" id="input" class="form-control search" value="" placeholder="By Title">
                    <div class="search-rectangle" @click="searchproduct()"><img src="images/go.png" class="search-rectangle-element"> </div>
                </div>

                
                <div class="track_order">
                    <span style="color:white">TRACK ORDER</span> 
                    <input type="search" v-model="track_order" name="" id="input" class="form-control search" value="" placeholder="By Order Code">
                    <div class="search-rectangle" @click="trackorder()"><img src="images/go.png" class="search-rectangle-element"> </div>
                </div>

            </div>
        </div>

        <div class="container" style="margin-top:90px">
            <div class="featured-header-bg" style="background: url(images/header_background.png) no-repeat">
                <h3 class="featured-header">FEATURED <br>PRODUCTS</h3>
            </div>
            <div style="text-align:center;" class="featured-container">

               
                <div class="col-md-3 col-sm-6 col-xs-12" v-for="product in featuredproducts" :key="product.id">
                    <div class="product-box">
                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.title}}</h3></router-link>
                            <h3 class="product-price"><span class="naira">₦</span>{{formatter.format(product.price)}}</h3>
                            <div class="add-to-cart" @click="add_to_cart(product.id, product.price, product.title)"><img src="images/cart.png" class="cart-image"> Add to cart</div>
                            <div class="more-info"><router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class="">more <img src="images/enter.png" class="enter-image"></router-link></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div style="background: #3d3d3d; height: 350px; margin-top: -200px"></div>

        <div class="container" style="margin-top:130px">
            <div class="featured-header-bg" style="background: url(images/header_background.png) no-repeat">
                <h3 class="featured-header">HOT <br>DEALS</h3>
            </div>
            <div style="text-align:center;" class="hot-deals-container">
                <div class="hot-deals-div">
                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="product in hotproducts" :key="'hot_' + product.id">
                        <div class="product-box">
                            <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                            <div class="product-mini-details">
                                <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.title}}</h3></router-link>
                                <h3 class="product-price"><span class="naira">₦</span>{{formatter.format(product.price)}}</h3>
                                <div class="add-to-cart" @click="add_to_cart(product.id, product.price, product.title)"><img src="images/cart.png" class="cart-image"> Add to cart</div>
                                <div class="more-info"><router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class="">more <img src="images/enter.png" class="enter-image"></router-link></div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="container" style="background-color: #efefef;margin-top:120px;">
            <div class="popular-brands">
                <div class="brand-header">
                    <div class="featured-header-bg" style="background: url(images/header_background.png) no-repeat">
                        <h3 class="featured-header" style="margin-bottom:0px">POPULAR <br>BRANDS</h3>
                    </div>
                </div>

                <img v-for="brandlogo in brandlogos" :key="brandlogo.id" :src="brandlogo.media" class="brand-logos">
            </div>
        </div>

        <footer-menu></footer-menu>

    </div>
</template>

<style lang="scss" scoped >
    @import './resources/assets/sass/general.scss';
    @import './resources/assets/sass/home.scss';

</style>


<script>
import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
  components: {
    NavMenu, 
    FooterMenu, 
  },
  data() {
    return{
        brandlogos: [],
        search_product: '',
        track_order: '',
        cart_count: 0,
        featuredproducts: [],
        hotproducts: [],
        formatter: new Intl.NumberFormat('en-US', {
            style: 'decimal',
            minimumFractionDigits: 2
        }),
    }  
  },
  created() {
  },
  mounted(){
      this.initialLoad();
  },
  methods: {
        initialLoad(){
                let $this = this;
                this.axios.get(index_url + '/api/get-home-data')
                    .then(response => {
                        $this.brandlogos = response.data.product_brand_logos;
                        $this.featuredproducts = response.data.featuredproducts;
                        $this.hotproducts = response.data.hotproducts;
                    })
                    .catch(error => {
                    });
        },
        searchproduct(){
            let $this = this;
            this.$router.push({ name: 'products', query:{ search: $this.search_product } });
        },
        trackorder(){
            let $this = this;
            this.$router.push({ name: 'allorders', query:{ order_code: $this.track_order } });
        },
      
        imagelink(link){
            var img_src = index_url + '/' + link;

            return img_src;
        },
        add_to_cart(id,price,title){

                let $this = this;

                if(this.global_store.getters.isLoggedIn == false){

                    $this.toast({
                        type: 'success',
                        title: 'Please login to continue'
                    });


                    $this.$router.push({ name: 'login' });
                }else{

                    
                    this.$Progress.start();
                    this.axios.get(index_url + '/api/add-to-normal-cart', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                    params: {
                        id: id,
                        price: price,
                        title: title,
                    }
                })
                .then(response => {
                        
                        $this.$Progress.finish();
                        $this.cart_count = response.data.cart_count;
                        $this.toast({
                            type: 'success',
                            title: 'Product added to cart'
                        });
                })
                .catch(error => {
                });
            }
        }
  }
}

</script>