<template>
    <div>
        
    </div>
</template>


<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';    

import store from '@/store/index';


export default {
    data(){
      return{
      }
    },
    components: {
    },
    mounted(){
      this.initialLoad();
    },
    methods:{
      initialLoad(){
        let getThis = this; 

        this.axios
            .get(index_url + '/api/logout', {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
            })
            .then(response => {
                        
                store.commit('logoutUser')
                store.commit('user',{})
                store.commit('user_role','')
                localStorage.removeItem('token');

                 toast({
                    type: 'success',
                    title: 'Logout successful'
                });

                getThis.$router.push({ name: 'login' });
            });
      }
    }
}

</script>