<template>
    <div>
        <nav-menu :activemenu="active_menu" :cartcount="cart_count"></nav-menu>

        <div v-if="initialLoad == true">
          <div class="container">

              <div class="row">
                <div class="navigation_link"><span style="color:red">Home > Product ></span> {{product.title}} </div> 
              </div>

              <div class="row">
                  <div class="col-md-6">
                    <div id="myCarousel" class="carousel slide" data-interval="false">


                      <div id="thumbCarousel" class="thumbCarousel-pc-view">
                          <div v-for="(image, index) in product.images" :key="image.id" data-target="#myCarousel" :data-slide-to="index" class="thumb" :class="{ active: imageActive(index) }"><img :src="hosturl + image.media" alt="XZ" style=""></div>
                      </div>

                      <div class="carousel-inner" role="listbox" style="display:inline-block">
                        <div v-for="(image, index) in product.images" :key="image.id"  class="item" :class="{ active: imageActive(index) }">
                            <img :src="hosturl + image.media" alt="XZ">
                        </div>
                        
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>

                      <div id="thumbCarousel" style="" class="thumbCarousel-mobile-view">
                          <div v-for="(image, index) in product.images" :key="image.id" data-target="#myCarousel" :data-slide-to="index" class="thumb" :class="{ active: imageActive(index) }"><img :src="hosturl + image.media" alt="XZ" style=""></div>
                      </div>
                      
                      
                      
                    </div>                    
                  </div>
                  <div class="col-md-6">
                      <h3 class="product-headline-main" v-html="product.title"></h3>
                      <h3 class="product-price-main"><span class="naira">₦</span>{{formatter.format(product.price)}}</h3>
                      <div class="star-review">
                        <star-rating active-color="#a12327" :star-size="20" @rating-selected="setRating" :rating="rating" :glow="1"></star-rating>
                      </div>
                      <div class="product-description">
                        <span v-html="product.description"></span>
                      </div>

                      <div class="action-buttons">
                        <div class="add-to-cart-main" @click="add_to_cart(product.id, product.price, product.title)"><img :src="hosturl + 'images/cart.png'" class="cart-image"> Add to cart</div>
                        <div class="buy-now" @click="buy_now(product.id, product.price, product.title)"> Buy Now</div>
                      </div>

                  </div>
              </div> 

              <div class="row" style="margin-top:30px">
                <div class="col-md-4">
                    <h3 class="product-sub-header">PRODUCT DESCRIPTION</h3>
                    <div class="product-text">
                        <span v-html="product.description"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="product-sub-header">PRODUCT SPECIFICATION</h3>
                    <div class="product-text">
                        <span v-html="product.specification"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="product-sub-header">PRODUCT REVIEWS</h3>
                    <div>
                      <p class="customer-reviews">{{parseInt(reviews.totalreviews)}} Customer Reviews</p>

                      <div class="progress-div">
                        <span class="progress-rating">5 Star</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="78"
                          aria-valuemin="0" aria-valuemax="100"  :style="'width:' + reviews.five + '%'">
                            <span class="sr-only">{{parseInt(reviews.five)}}% Complete</span>
                          </div>
                        </div>
                        <span class="progress-percent"> {{parseInt(reviews.five)}}%</span>
                      </div>

                      <div class="progress-div">
                        <span class="progress-rating">4 Star</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" :style="'width:' + reviews.four + '%'">
                            <span class="sr-only">{{parseInt(reviews.four)}}% Complete</span>
                          </div>
                        </div>
                        <span class="progress-percent"> {{parseInt(reviews.four)}}%</span>
                      </div>

                      <div class="progress-div">
                        <span class="progress-rating">3 Star</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar"
                          aria-valuemin="0" aria-valuemax="100" :style="'width:' + reviews.three + '%'">
                            <span class="sr-only">{{parseInt(reviews.three)}}% Complete</span>
                          </div>
                        </div>
                        <span class="progress-percent"> {{parseInt(reviews.three)}}%</span>
                      </div>

                      <div class="progress-div">
                        <span class="progress-rating">2 Star</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar"
                          aria-valuemin="0" aria-valuemax="100" :style="'width:' + reviews.two + '%'">
                            <span class="sr-only">{{parseInt(reviews.two)}}% Complete</span>
                          </div>
                        </div>
                        <span class="progress-percent"> {{parseInt(reviews.two)}}%</span>
                      </div>

                      <div class="progress-div">
                        <span class="progress-rating">1 Star</span>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar"
                          aria-valuemin="0" aria-valuemax="100" :style="'width:' + reviews.one + '%'">
                            <span class="sr-only">{{parseInt(reviews.one)}}% Complete</span>
                          </div>
                        </div>
                        <span class="progress-percent"> {{parseInt(reviews.one)}}%</span>
                      </div>

                    </div>
                </div>
              </div>

          </div>

          <div class="recently-viewed" v-if="recent_views.length != 0">
          
            <div class="container"> 
              
              <div class="recent-header-bg" :style="'background: url(' + hosturl + 'images/header_background.png) no-repeat'">
                  <h3 class="recent-header">RECENTLY <br>VIEWED</h3>
              </div>

              <div class="row">
                <div style="text-align:center;" class="">
                  <div v-for="(product, index) in recent_views" :key="product.id">
                  <div class="col-md-3 col-sm-6 col-xs-12" v-if="index < 5 && index != 0">
                    <div class="product-box">
                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                        <div class="product-mini-details">
                            <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.title}}</h3></router-link>
                            <div class="product-category"><small class="">{{product.category.title}}</small></div>
                            <h3 class="product-price"><span class="naira">₦</span>{{formatter.format(product.price)}}</h3>
                            <div class="add-to-cart" @click="add_to_cart(product.id, product.price, product.title)"><img  :src="hosturl + 'images/cart.png'" class="cart-image"> Add to cart</div>
                            <div class="more-info"><router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class="">more <img :src="hosturl + 'images/enter.png'" class="enter-image"></router-link></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                  </div>
                  </div>


                </div>
              </div>

            </div>

          </div>

          <footer-menu></footer-menu>

        </div>

    </div>
</template>


<style lang="scss" scoped >
   @import './resources/assets/sass/general.scss';
   @import './resources/assets/sass/product_page.scss';

   @media (min-width: 992px) {
     .product-text{
        height: 300px;
        overflow-y: auto;
     }
   }
</style>

<style>
  .product-nav-color{
    color: #ed3137 !important;
    font-weight: bolder !important; 
  }

  span.vue-star-rating-rating-text {
      display: none;
  }
  
</style>



<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
  components: {
    NavMenu,
    FooterMenu, 
  },
  data(){
    return {
      active_menu: "products",
      product: {},
      reviews: {},
      user: {},
      recent_views: [],
      hosturl: index_url + "/",
      rating: 0,
      cart_count: 0,
      formatter: new Intl.NumberFormat('en-US', {
          style: 'decimal',
          minimumFractionDigits: 2
      }),
      initialLoad: false,
    }
  },
  created() {
  },
  mounted(){
      this.carousel();
      this.fetchData();
  },
  watch:{
    '$route' (to, from) {
        this.fetchData();
        window.scrollTo(0,0);
    }
  },
  methods: {
          fetchData() {

              let $this = this;
            
              this.axios.get(index_url + '/api/get-product/' + this.$route.params.product, {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }
              })
              .then(response => {
                  $this.product = response.data.product;
                  $this.reviews = response.data.reviews;
                  $this.user = response.data.user;
                  $this.recent_views = response.data.get_product_recent_views;
                  $this.rating = parseInt(response.data.get_user_rating);
                  $this.initialLoad = true;

                  if(response.data.reviews.length == 0){
                    $this.reviews.one = 0;
                    $this.reviews.two = 0;
                    $this.reviews.three = 0;
                    $this.reviews.four = 0;
                    $this.reviews.five = 0;
                    $this.reviews.totalreviews = 0;
                  }else{
                    $this.reviews = response.data.reviews;
                  }

              })
              .catch(error => {
              });
          },

          imageActive(index){
            if(index == 0){
              return true;
            }else{
              return false;
            }
          },
          imagelink(link){
                var img_src = index_url + '/' + link;

                return img_src;
          },

          setRating: function(rating) {
            var $this = this;
            if(this.global_store.getters.user_role){
              this.rating = rating;

              this.axios.get(index_url + '/api/set-rating' ,{
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                }, 
                params:{
                    product_id : $this.product.id,
                    user_id: $this.user.id,
                    review: rating
                }
              })
              .then(response => {
              })
              .catch(error => {
              });


            }else{
              
                this.Swal(
                    'Please Login',
                    'You are not logged in, please login to save your rating',
                    'warning'
                );

                this.rating = 0;
            }
            
          },
          add_to_cart(id,price,title){
                let $this = this;

                if(this.global_store.getters.isLoggedIn == false){

                    this.Swal(
                        'Login!',
                        'Please login to continue',
                        'error'
                    );
                }else{

                  this.$Progress.start();
                  this.axios.get(index_url + '/api/add-to-normal-cart', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                    params: {
                        id: id,
                        price: price,
                        title: title,
                    }
                  })
                  .then(response => {
                        
                        $this.$Progress.finish();
                        $this.cart_count = response.data.cart_count;
                        $this.toast({
                            type: 'success',
                            title: 'Product added to cart'
                        });
                  })
                  .catch(error => {
                  });
                }
          },

          buy_now(id,price,title){

            let $this = this;

            if(this.global_store.getters.isLoggedIn == false){

                this.Swal(
                    'Login!',
                    'Please login to continue',
                    'error'
                );
            }else{

              var add_to_cart = new Promise(
                function (resolve, reject) {
                  var success = $this.add_to_cart(id,price,title);

                  resolve(success);
                });
              add_to_cart.then(response => {
                $this.$router.push({ name: 'cart' });
              });

            }
            

          },


          carousel(){
            $("#myCarousel").mouseover(function(){
              $("#myCarousel .carousel-control").show();
            });

            $("#myCarousel").mouseleave(function(){
              $("#myCarousel .carousel-control").hide();
            });
            
            //Active thumbnail
            $("#thumbCarousel .thumb").on("click", function(){
              $(this).addClass("active");
            });
            
            //When the carousel slides, auto update
            $('#myCarousel').on('slid.bs.carousel', function(){
              var index = $('.carousel-inner .item.active').index();
              var thumbnailActive = $('#thumbCarousel .thumb[data-slide-to="'+index+'"]');
              thumbnailActive.addClass('active');
            });
          }
  },
  beforeRouteLeave (to, from, next) {

      next();
  },

}

</script>