<template>
    <div>
        <nav-menu :activemenu="active_menu" :cartcount="cart_count"></nav-menu>

        <div class="grid-spinner"><grid-loader :loading="!pageLoad" :color="color"></grid-loader></div>
        <div class="container-fluid" style="color:white" v-show="pageLoad == true">
            <div class="">
            
                <div class="col-md-3">
                    <div class="sidebar-fixed">
                        <div class="">
                            <h3 class="header-text">Categories</h3>
                            <div><input type="search" value="" class="form-control inputsearch" v-model="search_category"> </div>
                            <div class="side-filter">
                                <div class="brand-checkbox" v-for="category in categoriesFilteredList" :key="category.id">
                                    <input :id="category.slug" :value="category.slug" type="checkbox" v-model="select_categories"> <label :for="category.slug" >{{category.title}}</label> 
                                </div>
                            </div>
        
                            <hr style="margin-top: 20px">
                            <h3 class="brand-text">Price Range</h3>
                            <div id="pricerange"></div>

                            <div> 
                                N <input type="text" v-model="minprice" name="" id="left-slider-value" class="form-control left-slider-value" value="" style=""> <span style="font-weight:900"> : </span> 
                                <div class="right-slider-div">N <input type="text" v-model="maxprice" name="" id="right-slider-value" class="form-control right-slider-value" value="" ></div>
                            </div>

                            <hr style="margin-top: 40px">
                            <h3 class="header-text">Vehicle Fits</h3>
                            <div><input type="search" value="" class="form-control inputsearch" v-model="search_brand"> </div>
                            <div class="side-filter">
                                <div class="brand-checkbox" v-for="brand in brandsFilteredList" :key="brand.id">
                                    <input :id="brand.slug" type="checkbox" v-model="select_brands" :value="brand.slug"> 
                                    <label :for="brand.slug" >{{brand.title}}</label> 
                                </div>
                            </div>
                        

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="product-div" :style="{'min-height': productdiv_minheight}">

                        <div class="search-products">
                            <input type="search" name="" id="input" class="form-control search" v-model="search_products" placeholder="Search Product" title="" @keyup="searchProducts()">
                            <div class="search-button" @click="searchProducts()"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>

                        <div style="text-align:center;" class="products-container">
                            <div class="col-md-3 col-sm-4 col-xs-12" v-for="product in products" :key="product.id">
                                <div class="product-box">
                                    <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><img v-if="product.default_image != null" :src="imagelink(product.default_image.media)" alt="" class="product-image"></router-link>
                                    <div class="product-mini-details">
                                        <router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class=""><h3 class="product-headline">{{product.title}}</h3></router-link>
                                        <div class="product-category"><small class="">{{product.category.title}}</small></div>
                                        <h3 class="product-price"><span class="naira">₦</span>{{formatter.format(product.price)}}</h3>
                                        <div class="add-to-cart" @click="add_to_cart(product.id, product.price, product.title)"><img src="images/cart.png" class="cart-image"> Add to cart</div>
                                        <div class="more-info"><router-link :to="{ name: 'product_page', params:{ product: product.slug}}" class="">more <img src="images/enter.png" class="enter-image"></router-link></div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div v-if="products.length == 0 && filteringProduct == false">
                            <div class="well" style="width: 95%;color: black;">
                                <h4 style="text-align:center">Product does not exist</h4>
                            </div>
                        </div>
                        <div class="grid-spinner"><grid-loader :loading="filteringProduct" :color="color"></grid-loader></div>
                        
                        <div style="clear: both;"></div>
                        <div class="load-more-details" id="loadmore" v-if="(products.length > take_pagerow - 1) && products.length < total_products_count">
                            <button type="button" class="btn btn-danger" @click="loadMore()">Load More</button>
                        </div>

                    </div>
                </div>
            
            </div>

        </div>

      <footer-menu v-show="pageLoad == true"></footer-menu>

    </div>
</template>

<style lang="scss" scoped >
    @import './resources/assets/sass/general.scss';
    @import './resources/assets/sass/products.scss';

</style>

<style>
#pricerange .noUi-connect {
  background: #e23b40 !important;
}
.noUi-target {
    border: 0px !important;
}
.noUi-horizontal {
    height: 16px;
}
.noUi-horizontal .noUi-handle {
    cursor: pointer;
}

.grid-spinner{
    text-align: center;
    left: 50%;
    position: fixed;
    top: 40%;
}

</style>

<script>

import NavMenu from '@/views/includes/NavMenu';
import FooterMenu from '@/views/includes/FooterMenu';

export default {
    components: {
        NavMenu,
        FooterMenu,
    },
    data(){
        return{
            active_menu: "products",
            initialLoad: true,
            search_category: '',
            search_brand: '',
            search_products: '',
            select_categories: [],
            select_brands: [],
            products: [],
            brands: [],
            categories: [],
            minprice: 0,
            maxprice: 5000,
            default_min_price: 0,
            default_max_price: 5000,
            page: 1,   
            color: "#ed3137",
            no_of_products: 20,
            take_pagerow: 0,   
            skip_pagerow: 0,  
            pricetimeout: null,
            total_products_count: 0,
            cart_count: 0,
            productdiv_minheight: "0px",
            pageLoad: false,
            filteringProduct: false,
            rangeLoad: false,
            formatter: new Intl.NumberFormat('en-US', {
                style: 'decimal',
                minimumFractionDigits: 2
            }),
        }
    },
    watch: {
        'select_categories': function(newVal, oldVal) {
            if(this.initialLoad == false){
                this.products = [];
                this.page = 1;   
                this.take_pagerow = this.no_of_products;
                this.routerPush();
            }
        },
        'select_brands': function(newVal, oldVal) {
            if(this.initialLoad == false){
                this.products = [];
                this.page = 1;   
                this.take_pagerow = this.no_of_products;
                this.routerPush();
            }
        },
        $route (to, from){
            var $this = this;
            var checkreload = new Promise(
                function (resolve, reject) {
                    var success = $this.checkForReload();

                    resolve(success);
                });
              checkreload.then(response => {
                    $this.fetchData();
              });
        },
    },
    created() {
        this.take_pagerow = this.no_of_products;
    },
    mounted(){
        this.fetchData(),
        this.scrollChange()
    },
    computed: {
            categoriesFilteredList() {
                return this.categories.filter(category => {
                    return category.title.toLowerCase().includes(this.search_category.toLowerCase())
                })
            },
            
            brandsFilteredList() {
                return this.brands.filter(brand => {
                    return brand.title.toLowerCase().includes(this.search_brand.toLowerCase())
                })
            }
    },
    methods: {
            fetchData() {
                    this.filteringProduct = true;

                    if(window.innerWidth > 991){
                        this.productdiv_minheight = "3056px";
                    }

                    if(window.innerWidth > 1280){
                        this.productdiv_minheight = "2276px";
                    }

                    let $this = this;
                    this.$Progress.start();

                    if(this.$route.query.category != null && this.initialLoad == true){
                        if(Array.isArray($this.$route.query.category)){
                            $this.select_categories = $this.$route.query.category
                        }else{
                            $this.select_categories.push($this.$route.query.category);
                        }   
                    }

                    if(this.$route.query.brand != null && this.initialLoad == true){
                        if(Array.isArray($this.$route.query.brand)){
                            $this.select_brands = $this.$route.query.brand
                        }else{
                            $this.select_brands.push($this.$route.query.brand);
                        }
                    }

                    if(this.$route.query.search != null && this.initialLoad == true){
                        $this.search_products = $this.$route.query.search
                    }

                    if(this.$route.query.minprice != null && this.initialLoad == true){
                        $this.minprice = $this.$route.query.minprice
                    }

                    if(this.$route.query.maxprice != null && this.initialLoad == true){
                        $this.maxprice = $this.$route.query.maxprice
                    }

                    if(this.$route.query.page != null && this.initialLoad == true){
                        $this.page = $this.$route.query.page;

                        if($this.initialLoad == true){
                            $this.take_pagerow = $this.take_pagerow * $this.$route.query.page;
                        }
                    }

                    if($this.initialLoad == false){
                        $this.take_pagerow = $this.no_of_products;
                        $this.skip_pagerow = 0;
                    }

                    


                    this.axios.get(index_url + '/api/get-categories-brands-price')
                        .then(response => {

                            if($this.initialLoad == true){
                                $this.categories = response.data.categories;
                                $this.brands = response.data.brands;
                                window.scrollTo(0,5);
                            }
                            

                            $this.maxprice = $this.default_max_price = parseFloat(response.data.maxprice.price);

                            
                            if($this.$route.query.maxprice != null){
                                $this.maxprice = $this.$route.query.maxprice
                            }

                            this.axios.get(index_url + '/api/get-products-filtered',{
                                params: {
                                    category: $this.select_categories,
                                    brand: $this.select_brands,
                                    minprice: $this.minprice,
                                    maxprice: $this.maxprice,
                                    search: $this.search_products,
                                    page: $this.page,
                                    take: $this.take_pagerow,
                                    skip: $this.skip_pagerow,
                                }
                            })
                                .then(response => {
                                       
                                    if($this.page == 1){
                                        $this.products = [];
                                    }

                                    for (var i = 0; i < response.data.products.length; i++) {
                                        $this.products.push(response.data.products[i]);
                                    }

                                    if(this.$route.query.page != null && this.initialLoad == false){
                                        window.scrollTo(0,$(window).scrollTop() + 1);
                                    }

                                    this.pageLoad = true;

                                    this.filteringProduct = false;

                                    $this.total_products_count = response.data.products_count;

                                    
                                    $this.rangeSlider();

                                    return true

                                }).then(response => {
                                    this.initialLoad = false;
                                    this.$Progress.finish();
                
                                    console.log("init2" + this.initialLoad);

                                })
                                .catch(error => {
                                });
                        })
                        .catch(error => {
                        });

                    

                    

                    
            },
            rangeSlider(){

                var $this = this;

                if($this.rangeLoad  == false){

                    
                    var html5Slider = document.getElementById('pricerange');

                    var left_slider = document.getElementById('left-slider-value');
                    var right_slider = document.getElementById('right-slider-value');
                    
                    
                    noUiSlider.create(html5Slider, {
                        start: [ this.minprice, this.maxprice ],
                        connect: true,
                        range: {
                            'min': this.default_min_price,
                            'max': this.default_max_price,
                        }
                    });

                    html5Slider.noUiSlider.on('update', function (values, handle) {

                        var value = values[handle];

                        $this.take_pagerow = $this.no_of_products;

                        if (handle == 0) {
                            $this.minprice = Math.round(value);
                            
                        } else {
                            $this.maxprice = Math.round(value);

                        }

                        if($this.initialLoad == false){
                            $this.page = 1;   

                            if($this.pricetimeout != null){
                                clearTimeout($this.pricetimeout);
                            }
                            $this.pricetimeout = setTimeout(function(){ $this.routerPush(); }, 1500);
                        }


                    });

                    left_slider.addEventListener('change', function () {
                        html5Slider.noUiSlider.set([this.value, null]);

                    });

                    right_slider.addEventListener('change', function () {
                        html5Slider.noUiSlider.set([null, this.value]);
                    });

                    $this.rangeLoad = true;
                }
            },
            scrollChange(){
                var $this = this;
                $(window).scroll(function() {

                    if(window.location.href.includes("/products")){

                        

                        var viewportWidth = $(window).width();
                        var viewportHeight = $(window).height();  
                        
                        var scroll = $(window).scrollTop();
                        var os = $('.product-div').offset().top;
                        var ht = $('.product-div').height();

                        var sidebarfixed_width = 22 + "vw";


                        var sidebar_margintop = ht - 671;
                        if(viewportWidth > 991){

                            if(scroll > sidebar_margintop){
                                if($this.initialLoad != true){
                                    $('.sidebar-fixed').css({"position": "relative", "width": sidebarfixed_width, "height": "100%"});
                                    $(".sidebar-fixed").children().first().css({"margin-top": sidebar_margintop + "px"});
                                }
                            }else{
                                $('.sidebar-fixed').css({"position": "fixed", "width": "22vw"});
                                $(".sidebar-fixed").children().first().css({"margin-top": "0px"});
                            }
                        }
                    }

                });
            },
            imagelink(link){
                var img_src = index_url + '/' + link;

                return img_src;
            },
            routerPush(){
                var $this = this;

                var select_categories = this.select_categories;
                var select_brands = this.select_brands;
                var search_products = this.search_products;
                var page = this.page;

                if(select_categories.length == 0){
                    select_categories = undefined;
                }
                if(select_brands.length == 0){
                    select_brands = undefined;
                }
                if(search_products.length == 0){
                    search_products = undefined;
                }
                if(page.length == 0){
                    page = undefined;
                }

                this.$router.push({ name: 'products', query: {
                        category: select_categories, 
                        brand: select_brands, 
                        minprice: $this.minprice, 
                        maxprice: $this.maxprice,
                        search: search_products,
                        page: page,
                    } 
                });

                this.fetchData();
            },
            searchProducts(){
                this.routerPush();
            },
            loadMore(){

                this.page = parseInt(this.page) + 1;
                this.routerPush();
            },
            add_to_cart(id,price,title){
                let $this = this;

                if(this.global_store.getters.isLoggedIn == false){

                    $this.toast({
                        type: 'success',
                        title: 'Please login to continue'
                    });


                    $this.$router.push({ name: 'login' });
                }else{

                    this.$Progress.start();
                    this.axios.get(index_url + '/api/add-to-normal-cart', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        },
                        params: {
                            id: id,
                            price: price,
                            title: title,
                        }
                    })
                    .then(response => {
                            
                            $this.$Progress.finish();
                            $this.cart_count = response.data.cart_count;
                            $this.toast({
                                type: 'success',
                                title: 'Product added to cart'
                            });
                    })
                    .catch(error => {
                    });
                }
            },
            checkForReload(){
                var $this = this;
                if(this.$route.query.category == null && this.$route.query.brand == null && this.$route.query.search == null && this.$route.query.minprice == null && this.$route.query.maxprice == null && this.$route.query.page == null){
                    $this.initialLoad =  true;
                    $this.search_category =  '';
                    $this.search_brand =  '';
                    $this.search_products =  '';
                    $this.select_categories =  [];
                    $this.select_brands =  [];
                    $this.products =  [];
                    $this.brands =  [];
                    $this.categories =  [];
                    $this.minprice =  0;
                    $this.maxprice =  5000;
                    $this.default_min_price =  0;
                    $this.default_max_price =  5000;
                    $this.page =  1;   
                    $this.color =  "#ed3137";
                    $this.no_of_products =  20;
                    $this.take_pagerow =  20;   
                    $this.skip_pagerow =  0;  
                    $this.pricetimeout =  null;
                    $this.total_products_count =  0;
                    $this.cart_count =  0;
                    $this.productdiv_minheight =  "0px";
                    $this.filteringProduct =  false;

                }else{
                }
                
            }
    },
}

</script>