<template>
    <div>
    
    </div>
</template>

<style scoped>

</style>


<script>

    import axios from 'axios';

    import store from '@/store/index';


    export default {

        components:{
        },

        data () {
            return {
                host_url: index_url,
            }
        },

        beforeMount() {
            var $this = this;
            this.$router.push({ name: $this.$route.params.page});
        },

        methods: {
           
        }
    }

</script>