<template>
    <div>
        <nav-menu></nav-menu>

        <div class="container">
      
          <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              <div class="register-container">

                <form @submit.prevent="resetpassword" @keydown="form.onKeydown($event)">
                    
                    <input v-model="form.code" type="hidden" name="code">
                    <div class="form-group">
                        <label>New Password</label>
                        <input v-model="form.password" type="password" name="password"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input v-model="form.password_confirmation" type="password" name="password_confirmation"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                        <has-error :form="form" field="password_confirmation"></has-error>
                    </div>

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Submit</button>
                </form>


              </div>
            </div>

            <div class="col-md-2"></div>
          </div>

        </div>


    </div>
</template>

<style scoped>

  .register-container{
    margin-top:40px;
    margin-bottom:40px;
    padding:30px;
    border-radius: 5px;
    background: white;
    border: solid 1px #e8e8e8;
  }

  form{
    font-weight: 500;
    font-family: HelveticaNeueMed;
  }

  .login{
    color: #ed3137;
    font-weight:400;
    font-family: HelveticaNeueMed;
    margin-top: 40px;
    display: block;
  }

</style>


<script>
    import NavMenu from '@/views/includes/NavMenu';

    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    import axios from 'axios';

    import store from '@/store/index';

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    //let index_url = this.$store.getters.index_url;


    export default {

        components:{
          NavMenu,
        },

        data () {
            return {

                form: new Form({
                    code: '',
                    password: '',
                    password_confirmation: '',
                }),

            }
        },

        mounted(){
            this.form.code = this.$route.params.code
        },

        methods: {
            resetpassword () {

                let $this = this; 
                this.$Progress.start();
                this.form.post(index_url + '/api/reset-password-done')
                    .then(response => { 
                        
                        if(response.data.message == "success"){
                            this.$Progress.finish();
                            this.Swal(
                                'Success!',
                                'Password reset successful. Login to continue',
                                'success'
                            );
                        }else{
                            this.$Progress.finish();
                            this.Swal(
                                'Fail!',
                                'Invalid password reset',
                                'error'
                            );
                        }
                        

                        
                        $this.$router.push({ name: 'login' });

                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            },


            
        }
    }

</script>