<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                  <h3 style="margin-bottom:20px" class="text-primary" >Add Product </h3>

                <form @submit.prevent="addProduct" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="form.title" type="text" name="title"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                        <has-error :form="form" field="title"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <vue-editor v-model="form.description" name="description" :class="{ 'is-invalid': form.errors.has('description') }" :editorToolbar="customToolbar"></vue-editor>
                        <!-- <textarea rows="5" v-model="form.description" type="text" name="description" class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea> -->
                        <has-error :form="form" field="description"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Specifications</label>
                        <vue-editor v-model="form.specification" name="specification" :class="{ 'is-invalid': form.errors.has('specification') }" :editorToolbar="customToolbar"></vue-editor>
                        <has-error :form="form" field="specification"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select name="category_id" v-model="form.category" class="form-control" :class="{ 'is-invalid': form.errors.has('category') }">
                            <option :value="cat.id" v-for="cat in form.categories" :key="cat.id">{{cat.title}}</option>
                        </select>
                        <has-error :form="form" field="category"></has-error>
                    </div>

                    <input type="hidden" name="media_id" class="form-control" :value="form.media_id">

                    <div class="form-group">
                        <label>Price</label>
                        <input v-model="form.price" type="number" step="0.01" name="price" class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                        <has-error :form="form" field="price"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Featured</label>
                        <select name="featured" v-model="form.featured" class="form-control" :class="{ 'is-invalid': form.errors.has('featured') }">
                            <option value="no">no</option>
                            <option value="yes">yes</option>
                        </select>
                        <has-error :form="form" field="featured"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Hot</label>
                        <select name="hot" v-model="form.hot" class="form-control" :class="{ 'is-invalid': form.errors.has('hot') }">
                            <option value="no">no</option>
                            <option value="yes">yes</option>
                        </select>
                        <has-error :form="form" field="hot"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Vehicle Fit</label>
                        <v-select v-model="form.brands_selected" multiple :options="brands"></v-select>
                        <has-error :form="form" field="brands_selected"></has-error>
                    </div>

                    <vue-dropzone ref="dropzone" id="drop1" :options="dropOptions" @vdropzone-complete="afterComplete" @vdropzone-success="afterFileSuccess" @vdropzone-sending="sendingfiles" @vdropzone-removed-file="removefile" ></vue-dropzone>
                    <div @click="removeAllFiles" class="btn btn-info btn-xs" style="margin-top:2px">Remove All Files</div><br><br>

                    <alert-errors :form="form" message="There were some problems with your input."></alert-errors><br>

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Add Product</button>
                </form>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>

 
<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .alert-danger {
        background: #a12327;
        color: #fff;
        border-color: #a12327;
    }

</style>

<style>
    .v-select .dropdown-menu > li > a {
        color: rgb(39, 39, 39) !important;
    }
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError, AlertErrors } from 'vform'

    import vueDropzone from "vue2-dropzone";

    import { VueEditor } from 'vue2-editor'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertErrors.name, AlertErrors)

    export default {
      
        data() {
            return{
                hosturl: index_url,
                brands: [],
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote'],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],  
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ],

                reloadDropzone: false,
                dropzoneIndex: 0,
                dropzoneList: [],

                form: new Form({
                    title: '',
                    description: '',
                    specification: '',
                    category: 1,
                    categories: [],
                    price: '',
                    featured: 'no',
                    hot: 'no',
                    media_id: '',
                    brands_selected: [],
                }),

                dropOptions: {
                    paramName: "fileupload",
                    url: index_url + '/api/upload-productimages',
                    maxFilesize: 2, // MB
                    maxFiles: 4,
                    thumbnailWidth: 150, // px
                    thumbnailHeight: 150,
                    addRemoveLinks: true,
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }
            }  
        },
        components: {
            vueDropzone,
            VueEditor,
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){

                this.$emit("pageLoading",true);
                
                

                this.$emit("childProps","products");

                let $this = this;

                this.axios.get(index_url + '/api/categories-for-products', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.form.categories = response.data.categories;
                        $this.form.category = response.data.categories[0].id;
                        $this.generateMediaId();
                        this.$emit("pageLoading",false);
                        this.reloadDropzone = false;
                    })
                    .catch(error => {
                    });

                this.axios.get(index_url + '/api/get-brands', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        let brands = response.data.brands;
                        var arrayLength = brands.length;
                        for (var i = 0; i < arrayLength; i++) {
                            let new_brand = {
                                label: brands[i].title,
                                value: brands[i].id,
                            }
                            $this.brands.push(new_brand);

                        }

                    })
                    .catch(error => {
                    });

            },
            afterComplete(file) {
            },
            afterFileSuccess(file, response){
                this.dropzoneList[this.dropzoneIndex] = {"serverFileName" : response, "fileName" : file.name,"field" : this.dropzoneIndex };
                this.dropzoneIndex++;
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            removefile(file, error, xhr) {
                var $this = this;
                if($this.reloadDropzone == false){
                    console.log("reeal "+ $this.reloadDropzone);

                    if(file.xhr.status != 400){

                        for(f=0;f<$this.dropzoneList.length;f++){

                            if($this.dropzoneList[f].fileName == file.name){



                                rmvFile = $this.dropzoneList[f].serverFileName;


                                this.axios.get(index_url + '/api/delete-product-media', {
                                        headers: {
                                            Authorization: 'Bearer ' + localStorage.getItem('token')
                                        },
                                        params: {
                                            title: rmvFile
                                        }
                                })
                                .then(response => {
                                    toast({
                                        type: "success",
                                        title: "File removed"
                                    });


                                })
                                .catch(error => {
                                });
                            }
                        }

                    }
                }else{
                    //this.reloadDropzone = false;
                }
                
            },
            
            sendingfiles(file, xhr, formData){
                formData.append("media_id", this.form.media_id);
            },
            addProduct(){
                    let $this = this; 

                    $this.reloadDropzone = true;

                    
                    $this.dropzoneIndex = 0;
                    $this.dropzoneList = [];


                    this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                    this.$Progress.start();
                    this.form.post(index_url + '/api/add-product')
                    .then(response => {

                        $this.$Progress.finish();
                        $this.form.reset ();

                        console.log("here");
                        
                        this.$refs.dropzone.removeAllFiles();
                        $this.brands = [];
                        $this.brands_selected = [];


                        $this.initialLoad();

                    

                        toast({
                            type: 'success',
                            title: 'Product added successfully'
                        });


                    })
                    .catch(error => {
                        $this.reloadDropzone = false;
                        $this.$Progress.fail();
                    });

            },

            generateMediaId() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                var $this = this;

                for (var i = 0; i < 7; i++){
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }

                $this.form.media_id = text;
            }
        }
  }
</script>