<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Custom Orders</h3>

                <div class="table-responsive">
                    <vue-good-table
                    :columns="columns"
                    :rows="orders"
                    :search-options="{enabled: true}"
                    :sort-options="{enabled: true,initialSortBy: {field: 'created_at', type: 'desc'}}"
                    :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                    :lineNumbers="true">
                        <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'actions'">
                                <router-link :to="{name: 'editorderpage', params: { id: props.row.id } }" class="btn btn-warning btn-xs"> <i class="fa fa-pencil"></i> edit</router-link>     
                            </span>
                            <span v-else-if="props.column.field == 'price'">
                                    <span class="naira">₦</span>{{formatter.format(props.formattedRow[props.column.field])}}
                            </span>
                            <span v-else>
                                {{props.formattedRow[props.column.field]}}
                            </span>
                        </template> 
                    </vue-good-table>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .white-box .text-primary {
        font-family: HelveticaNeueMed;
    }

    .white-box .text-info {
        font-family: HelveticaNeueMed;
    }

    .track_cyan{
        font-family: HelveticaNeueMed;
        color: #0faec8;
    }

    .track_yellow{
        font-family: HelveticaNeueMed;
        color: #ffb136;
    }

    .track_purple{
        font-family: HelveticaNeueMed;
        color: #6d325b;
    }

    .track_green{
        font-family: HelveticaNeueMed;
        color: #2ecc71;
    }

    .track_thick_red{
        font-family: HelveticaNeueMed;
        color: #a12327;
    }

     .btn-shipping.active, .btn-shipping:active, .btn-shipping:focus, .btn-shipping:hover{
         color: #fff !important;
     }
</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                formatter: new Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2
                }),
                orders: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'user_ID',
                        field: 'user_id',
                        hidden: true,
                    },
                    {
                        label: 'User',
                        field: 'user.name',
                    },
                    {
                        label: 'Vin',
                        field: 'vin',
                    },
                    {
                        label: 'Brand',
                        field: 'brand',
                    },
                    {
                        label: 'Model',
                        field: 'model',
                    },
                    {
                        label: 'Part No',
                        field: 'part_number',
                    },
                    {
                        label: 'Part Name',
                        field: 'part_name',
                    },
                    {
                        label: 'QTY',
                        field: 'quantity',
                    },
                    {
                        label: 'Price',
                        field: 'price',
                    },
                    {
                        label: 'Order Date',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.loadOrders("");
        },
        methods: {
            loadOrders(order_type){
                this.$emit("pageLoading",true);
                
                


                this.$emit("childProps","customorders");

                let $this = this;
                this.axios.get(index_url + '/api/get-custom-orders', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.orders = response.data.orders;


                    this.$emit("pageLoading",false);
                })
                .catch(error => {
                });

            }
        }
  }
</script>