<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                  <h3 style="margin-bottom:20px" class="text-primary">Edit Product </h3>

                <form @submit.prevent="updateProduct" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="form.title" type="text" name="title"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                        <has-error :form="form" field="title"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <vue-editor v-model="form.description" name="description" :class="{ 'is-invalid': form.errors.has('description') }" :editorToolbar="customToolbar"></vue-editor>
                    </div>

                    <div class="form-group">
                        <label>Specifications</label>
                        <vue-editor v-model="form.specification" name="specification" :class="{ 'is-invalid': form.errors.has('specification') }" :editorToolbar="customToolbar"></vue-editor>
                        <has-error :form="form" field="specification"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" v-model="form.category" class="form-control" :class="{ 'is-invalid': form.errors.has('category') }">
                            <option :value="cat.id" v-for="cat in form.categories" :key="cat.id">{{cat.title}}</option>
                        </select>
                        <has-error :form="form" field="category"></has-error>
                    </div>

                    <input type="hidden" name="media_id" class="form-control" :value="form.media_id">
                    <input type="hidden" name="id" class="form-control" :value="form.id">

                    <div class="form-group">
                        <label>Price</label>
                        <input v-model="form.price" type="text" name="price" class="form-control" :class="{ 'is-invalid': form.errors.has('price') }">
                        <has-error :form="form" field="price"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Featured</label>
                        <select name="featured" v-model="form.featured" class="form-control" :class="{ 'is-invalid': form.errors.has('featured') }">
                            <option value="no">no</option>
                            <option value="yes">yes</option>
                        </select>
                        <has-error :form="form" field="featured"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Hot</label>
                        <select name="hot" v-model="form.hot" class="form-control" :class="{ 'is-invalid': form.errors.has('hot') }">
                            <option value="no">no</option>
                            <option value="yes">yes</option>
                        </select>
                        <has-error :form="form" field="hot"></has-error>
                    </div>

                    <div class="form-group">
                        <label>Vehicle Fit</label>
                        <v-select v-model="form.brands_selected" multiple :options="brands"></v-select>
                    </div>

                    <vue-dropzone ref="dropzone" id="drop1" :options="dropOptions" @vdropzone-complete="afterComplete" @vdropzone-success="afterFileSuccess" @vdropzone-sending="sendingfiles" @vdropzone-removed-file="removefile" ></vue-dropzone>
                    <div @click="removeAllFiles" class="btn btn-info btn-xs" style="margin-top:2px">Remove All Files</div><br><br>

                    <alert-errors :form="form" message="There were some problems with your input."></alert-errors><br>

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Update</button>
                </form>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    

</style>


<style>
    .v-select .dropdown-menu > li > a {
        color: rgb(39, 39, 39) !important;
    }
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError, AlertErrors } from 'vform'

    import vueDropzone from "vue2-dropzone";

    import { VueEditor } from 'vue2-editor'

    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)
    Vue.component(AlertErrors.name, AlertErrors)

    export default {
      
        data() {
            return{
                hosturl: index_url,
                productUpdateDropzone: false,
                brands: [],

                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['blockquote'],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],  
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ],

                form: new Form({
                    id: '',
                    title: '',
                    description: '',
                    specification: '',
                    category: 0,
                    categories: [],
                    price: '',
                    media_id: '',
                    featured: '',
                    hot: '',
                    brands_selected: [],
                }),

                dropOptions: {
                    paramName: "fileupload",
                    url: index_url + '/api/upload-productimages',
                    maxFilesize: 2, // MB
                    maxFiles: 4,
                    thumbnailWidth: 150, // px
                    thumbnailHeight: 150,
                    addRemoveLinks: true,
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }
            }  
        },
        components: {
            vueDropzone,
            VueEditor,
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){
                this.$emit("childProps","products");
                this.$emit("pageLoading",true);

                let $this = this;

                this.axios.get(index_url + '/api/categories-for-products', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.form.categories = response.data.categories;


                    this.$emit("pageLoading",false);
                    this.productUpdateDropzone = false;
                })
                .catch(error => {
                });

                

                this.axios.get(index_url + '/api/get-brands', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        let brands = response.data.brands;
                        var arrayLength = brands.length;
                        for (var i = 0; i < arrayLength; i++) {
                            let new_brand = {
                                label: brands[i].title,
                                value: brands[i].id,
                            }
                            $this.brands.push(new_brand);

                        }

                    })
                    .catch(error => {
                    });
                
                this.axios.get(index_url + '/api/edit-product/' + this.$route.params.id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                })
                .then(response => {
                    $this.form.id = response.data.product.id;
                    $this.form.title = response.data.product.title;
                    $this.form.description = response.data.product.description;
                    $this.form.specification = response.data.product.specification;
                    $this.form.category = response.data.product.category_id;
                    $this.form.price = response.data.product.price;
                    $this.form.media_id = response.data.product.media_id;
                    $this.form.featured = response.data.product.featured;
                    $this.form.hot = response.data.product.hot;

                    let brands = response.data.brands;
                    console.log(response.data.brands);
                    var arrayLength = brands.length;
                    for (var i = 0; i < arrayLength; i++) {
                        let new_brand = {
                            label: brands[i].title,
                            value: brands[i].id,
                        }
                        $this.form.brands_selected.push(new_brand);

                    }
                })
                .catch(error => {
                });

                this.axios.get(index_url + '/api/get-product-images/' + this.$route.params.id, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    var json = response.data.product_images;

                    for(var i = 0; i < json.length; i++) {
                        var obj = json[i];

                        var file = { name: obj.media_title , type: "image/jpg", size: 500000 };
                        var url = obj.media;
                        this.$refs.dropzone.manuallyAddFile(file, index_url + "/" + url);
                    }
                })
                .catch(error => {
                });

            },
            afterComplete(file) {
            },
            afterFileSuccess(file, response){
                this.dropzoneList[this.dropzoneIndex] = {"serverFileName" : response, "fileName" : file.name,"field" : dropzoneIndex };
                this.dropzoneIndex++;
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            removefile(file, error, xhr) {
                var $this = this;
                var status= ""; var manuallyAdded = "";

                if(this.productUpdateDropzone == false){
                    if (file.xhr != null) {
                        status = file.xhr.status
                    }
                    if (file.manuallyAdded != null) {
                        manuallyAdded = file.manuallyAdded
                    }
                    if(status != 400 || manuallyAdded == true){

                        for(f=0;f<$this.dropzoneList.length;f++){

                            if($this.dropzoneList[f].fileName == file.name){



                                rmvFile = $this.dropzoneList[f].serverFileName;


                                this.axios.get(index_url + '/api/delete-product-media', {
                                        headers: {
                                            Authorization: 'Bearer ' + localStorage.getItem('token')
                                        },
                                        params: {
                                            title: file.name
                                        }
                                })
                                .then(response => {
                                    toast({
                                        type: "success",
                                        title: "File removed"
                                    });


                                })
                                .catch(error => {
                                });

                            }
                        }
                    }
                }else{
                    //this.reloadDropzone = false;
                }
                    
                
            },
            sendingfiles(file, xhr, formData){
                formData.append("media_id", this.form.media_id);
            },
            updateProduct(){
                let $this = this; 
                this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                this.$Progress.start();
                this.form.post(index_url + '/api/update-product')
                    .then(({ data }) => { 

                        $this.$Progress.finish();
                        toast({
                            type: 'success',
                            title: 'Product updated successfully'
                        });
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            },
        },
        beforeRouteLeave (to, from, next) {
            this.productUpdateDropzone = true;

            next();
        },
  }
</script>