<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                  <h3 style="margin-bottom:20px" class="text-primary">Edit {{form.title}} </h3>

                <form @submit.prevent="updateContentPage" @keydown="form.onKeydown($event)">
                    <input v-model="form.content_id" type="hidden" name="content_id" class="form-control">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="form.title" type="text" name="title" class="form-control" disabled>
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <vue-editor 
                            v-model="form.content" 
                            useCustomImageHandler 
                            @imageAdded="handleImageAdded" 
                            :editorToolbar="customToolbar" name="content" :class="{ 'is-invalid': form.errors.has('content') }">
                        </vue-editor>
                    </div>


                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Save</button>
                </form>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

</style>

<style>
    .ql-editor ol>li {
        list-style-type: none;
        font-weight: initial;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    import { VueEditor } from 'vue2-editor'

    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    export default {
      
        data() {
            return{
                hosturl: index_url,

                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['code-block'],
                    ['blockquote','link','image'],
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],  
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ],

                form: new Form({
                    title: '',
                    content: '',
                    content_id: '',
                }),
            }  
        },
        components: {
            VueEditor,
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){

                
                this.$emit("pageLoading",true);
                this.$emit("childProps","contentpages");

                let $this = this;

                this.axios.get(index_url + '/api/get-content-page/' + this.$route.params.id, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.form.content = response.data.contentpage.content;
                        $this.form.title = response.data.contentpage.title;
                        $this.form.content_id = response.data.contentpage.id;
                        this.$emit("pageLoading",false);
                    })
                    .catch(error => {
                    });

            },

            updateContentPage(){
                let $this = this;
                this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                this.$Progress.start();
                this.form.post(index_url + '/api/update-content-page')
                    .then(({ data }) => { 

                        $this.$Progress.finish();

                        this.Swal(
                            'Updated!',
                            'Page updated successfully',
                            'success'
                        );

                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            },

            handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
                // An example of using FormData
                // NOTE: Your key could be different such as:
                // formData.append('file', file)

                var formData = new FormData();
                formData.append("image", file);
                formData.append("page_id", this.form.content_id);

                this.axios({
                    url: index_url + '/api/ql-editor-image-upload',
                    method: "POST",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    },
                    data: formData,
                })
                .then(response => {
                    let url = response.data.url; // Get url from response
                    Editor.insertEmbed(cursorLocation, "image", url);
                    resetUploader();
                })
                .catch(err => {
                    console.log(err);
                });

            }
        }
  }
</script>