<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                  <h3 style="margin-bottom:20px" class="text-primary">Edit User </h3>

                <form @submit.prevent="updateUser" @keydown="form.onKeydown($event)">
                    <div class="form-group">
                        <label>Email</label>
                        <input v-model="form.email" type="email" name="email" class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" disabled>
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input v-model="form.name" type="text" name="name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                    </div>

                    <div class="form-group">
                        <label>Role</label>
                        <select name="role" id="" v-model="form.role" class="form-control">
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input v-model="form.phone_number" type="text" name="phone_number" class="form-control" :class="{ 'is-invalid': form.errors.has('phone_number') }">
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input v-model="form.address" type="text" name="address" class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                    </div>

                    <div class="form-group">
                        <label>State</label>
                        <select v-model="form.state" name="state" class="form-control" required>
                            <option value="Abuja FCT">Abuja FCT</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nassarawa">Nassarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>
                        </select>
                    </div>

                    <input type="hidden" name="id" class="form-control" :value="form.id">

                    <button :disabled="form.busy" type="submit" class="btn btn-primary">Update</button>
                </form>

                <router-link :to="{name: 'admin-users'}" class="btn btn-success btn-sm" aria-expanded="false" style="margin-top:15px">
                    <i class="fa fa-user-circle-o"></i> View All Users
                </router-link>    

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    

</style>

<style>
    
</style>

<script>


    import Vue from 'vue'
    import { Form, HasError, AlertError } from 'vform'

    
    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    export default {
      
        data() {
            return{
                hosturl: index_url,

                form: new Form({
                    id: 0,
                    email: '',
                    name: '',
                    role: '',
                    phone_number: '',
                    address: '',
                    state: '',
                }),
            }  
        },
        components: {

        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        methods: {
            initialLoad(){
                
                

                
                this.$emit("childProps","users");

                let $this = this;

                this.axios.get(index_url + '/api/get-user/' + this.$route.params.id, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.form.id = response.data.user.id;
                    $this.form.email = response.data.user.email;
                    $this.form.name = response.data.user.name;
                    $this.form.role = response.data.user.role;
                    $this.form.phone_number = response.data.user.phone_number;
                    $this.form.address = response.data.user.address;
                    $this.form.state = response.data.user.state;
                })
                .catch(error => {
                });
                
               

            },
            updateUser(){
                let $this = this; 
                this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
                this.$Progress.start();
                this.form.post(index_url + '/api/update-user')
                    .then(({ data }) => { 

                        $this.$Progress.finish();
                        this.Swal(
                            'Updated!',
                            'User updated successfully',
                            'success'
                        )
                    })
                    .catch(error => {
                        this.$Progress.fail();
                    });
            },
        },
  }
</script>