<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">Newsletter Subscription</h3>

                <button v-if="levelAccess2" class="btn btn-success btn-sm" @click="addEmail()" style="margin-bottom:20px"> <i class="fa fa-plus"></i> Add Email(s)</button>

                <vue-good-table
                :columns="columns"
                :rows="emails"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'actions'">
                            <button v-if="levelAccess3" class="btn btn-warning btn-sm" @click="editEmail(props.row.id, props.row.email)"> <i class="fa fa-pencil"></i> edit</button>     
                            <button v-if="levelAccess2" class="btn btn-primary btn-sm" @click="deleteEmail(props.row.id)"> <i class="fa fa-trash"></i> delete</button>  
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>


              </div>
          </div>
        </div>
    </div>

    <modal name="add-emails" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Add Emails</h4>
            <input type="text" class="form-control" name="email" v-model="new_email" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="submitEmails()"> <i class="fa fa-save"></i> Save</button>
        </div>
    </modal>

    <modal name="edit-email" height=auto width="70%" classes="custom-modal">
        <div>
            <h4 class="text-success" style="margin-bottom:10px">Update Newsletter</h4>
            <input type="text" class="form-control" name="email" v-model="edit_email" value="">

            <button class="btn btn-success" style="margin-top:20px" @click="updateEmail()"> <i class="fa fa-save"></i> Update</button>
        </div>
    </modal>


  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .brandimg{
      object-fit: contain;
      width: 60px;
    }

</style>


<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                new_email: [],
                edit_email: '',
                edit_email_id: '',
                user_role: '',
                emails: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'Email',
                        field: 'email',
                    },
                    {
                        label: 'Created On',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            
            initialLoad(){
                this.$emit("pageLoading",true);
                $(".show-sidebar").hide();
                

                this.$emit("childProps","newsletter_subscription");

                this.user_role = this.global_store.getters.user_role;


                let $this = this;
                this.axios.get(index_url + '/api/get-newsletter-emails', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        $this.emails = response.data.emails;
                        
                        this.$emit("pageLoading",false);
                    }
                );
            },
            addEmail(){
                this.$modal.show('add-emails');
            },
            submitEmails(){
                this.$Progress.start();
                this.axios.get(index_url + '/api/add-newsletter-emails/' + this.new_email, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.$Progress.finish();
                        this.initialLoad();
                        this.$modal.hide('add-emails');
                        toast({
                            type: 'success',
                            title: 'Emails(s) added successfully'
                        });
                    });
            },
            editEmail(id,email){
                this.$modal.show('edit-email');
                this.edit_email = email;
                this.edit_email_id = id;
            },
            updateEmail(){
                this.$Progress.start();
                this.axios.get(index_url + '/api/edit-newsletter-email/' + this.edit_email_id + '/' + this.edit_email , {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                    .then(response => {
                        this.$Progress.finish();
                        this.initialLoad();
                        this.$modal.hide('edit-email');
                        toast({
                            type: 'success',
                            title: 'Email updated successfully'
                        });
                    });
            },
            deleteEmail(id){

                this.Swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#2ecc71',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        if (result.value) {
                            this.$Progress.start();
                            this.axios.get(index_url + '/api/delete-newsletter-email/' + id, {
                                headers: {
                                    Authorization: 'Bearer ' + localStorage.getItem('token')
                                }
                            })
                            .then(response => {
                                this.$Progress.finish();
                                this.initialLoad();
                                this.Swal(
                                    'Deleted!',
                                    'Email deleted successfully',
                                    'success'
                                )
                            });
                        }
                })
                
            },
            
        }
  }
</script>