<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">{{product}} Orders</h3>

                <div style="margin-bottom:25px">
                    <button class="btn btn-info" @click="loadOrders('new',$route.params.order_type)">New Orders ({{new_order_count}})</button> <button class="btn btn-warning" @click="loadOrders('processing',$route.params.order_type)">Processing Orders ({{processing_order_count}})</button> <button class="btn btn-shipping" @click="loadOrders('shipping',$route.params.order_type)">Shipping Orders ({{shipping_order_count}})</button> <button class="btn btn-success" @click="loadOrders('delivered',$route.params.order_type)">Orders Delivered ({{delivered_order_count}})</button> <button class="btn btn-primary" @click="loadOrders('not delivered',$route.params.order_type)">Orders Not Delivered ({{not_delivered_order_count}})</button>
                </div>

                <div class="table-responsive">
                    <vue-good-table
                    :columns="columns"
                    :rows="orders"
                    :search-options="{enabled: true}"
                    :sort-options="{enabled: true,initialSortBy: {field: 'created_at', type: 'desc'}}"
                    :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                    :lineNumbers="true">
                        <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'actions'">
                                <router-link :to="{name: 'orderpage', params: { id: props.row.id } }" class="btn btn-success btn-xs"> <i class="fa fa-eye"></i> view</router-link>     
                            </span>
                            <span v-else-if="props.column.field == 'user.name'">
                                <router-link :to="{name: 'orders-by-user', params: { user_id: props.row.user_id } }" class="text-primary" aria-expanded="false">
                                    {{props.formattedRow[props.column.field]}}
                                </router-link>
                            </span>
                            <span v-else-if="props.column.field == 'tracking_status'">
                                <span v-if="props.formattedRow[props.column.field] == 'new'" class="track_cyan">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'processing'" class="track_yellow">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'shipping'" class="track_purple">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'delivered'" class="track_green">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                                <span v-if="props.formattedRow[props.column.field] == 'not delivered'" class="track_thick_red">
                                {{props.formattedRow[props.column.field]}}
                                </span>
                            </span>
                            <span v-else>
                                {{props.formattedRow[props.column.field]}}
                            </span>
                        </template> 
                    </vue-good-table>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .white-box .text-primary {
        font-family: HelveticaNeueMed;
    }

    .white-box .text-info {
        font-family: HelveticaNeueMed;
    }

    .track_cyan{
        font-family: HelveticaNeueMed;
        color: #0faec8;
    }

    .track_yellow{
        font-family: HelveticaNeueMed;
        color: #ffb136;
    }

    .track_purple{
        font-family: HelveticaNeueMed;
        color: #6d325b;
    }

    .track_green{
        font-family: HelveticaNeueMed;
        color: #2ecc71;
    }

    .track_thick_red{
        font-family: HelveticaNeueMed;
        color: #a12327;
    }

     .btn-shipping.active, .btn-shipping:active, .btn-shipping:focus, .btn-shipping:hover{
         color: #fff !important;
     }
</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                product: '',
                new_order_count: '',
                processing_order_count: '',
                delivered_order_count: '',
                shipping_order_count: '',
                not_delivered_order_count: '',
                orders: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'user_ID',
                        field: 'user_id',
                        hidden: true,
                    },
                    {
                        label: 'User',
                        field: 'user.name',
                    },
                    {
                        label: 'Order Type',
                        field: 'order_type',
                    },
                    {
                        label: 'Order Code',
                        field: 'order_code',
                    },
                    {
                        label: 'Status',
                        field: 'tracking_status',
                    },
                    {
                        label: 'Order Date',
                        field: 'created_at',
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    },
                ],
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
            this.loadOrders("");
        },
        methods: {
            initialLoad(){
                this.$emit("pageLoading",true);
                
                


                this.$emit("childProps","orders");

                let $this = this;
                this.axios.get(index_url + '/api/get-product-order/' + this.$route.params.product_id + '/' + "all" + '/' + this.$route.params.order_type, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.orders = response.data.all_orders;
                    $this.new_order_count = response.data.new;
                    $this.processing_order_count = response.data.processing;
                    $this.shipping_order_count = response.data.shipping;
                    $this.delivered_order_count = response.data.delivered;
                    $this.not_delivered_order_count = response.data.notdelivered;
                    $this.product = response.data.product;


                    this.$emit("pageLoading",false);
                })
                .catch(error => {
                });

            },

            loadOrders(order_process,order_type){


                this.$emit("childProps","orders");

                let $this = this;
                this.axios.get(index_url + '/api/get-product-order/' + this.$route.params.product_id + '/' + order_process + '/' + order_type, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.orders = response.data.all_orders;
                    $this.new_order_count = response.data.new;
                    $this.processing_order_count = response.data.processing;
                    $this.shipping_order_count = response.data.shipping;
                    $this.delivered_order_count = response.data.delivered;
                    $this.not_delivered_order_count = response.data.notdelivered;
                    $this.product = response.data.product;


                })
                .catch(error => {
                });

            }
        }
  }
</script>