<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    <h3 class="pageheader">Order Page</h3>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-3">Name</td>
                                    <td class="col-md-9">{{orderDetails.user.name}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Email</td>
                                    <td class="col-md-9">{{orderDetails.user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Phone Number</td>
                                    <td class="col-md-9">{{orderDetails.user.phone_number}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Address</td>
                                    <td class="col-md-9">{{orderDetails.user.address}}, {{orderDetails.user.state}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" v-if="orderDetails.vin != null">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-3">Order Status</td>
                                    <td class="col-md-9"><strong>{{order_status}}</strong></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Order Code</td>
                                    <td class="col-md-9">{{orderDetails.order_code}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Vin</td>
                                    <td class="col-md-9">{{orderDetails.vin}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Brand / Model</td>
                                    <td class="col-md-9">{{orderDetails.brand}} / {{orderDetails.model}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">year</td>
                                    <td class="col-md-9">{{orderDetails.year_selected}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Trim</td>
                                    <td class="col-md-9">{{orderDetails.trim}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Part Name / Part Number</td>
                                    <td class="col-md-9"><strong>{{orderDetails.part_name}}</strong> / {{orderDetails.part_number}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Comment</td>
                                    <td class="col-md-9">{{orderDetails.comment}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Media</td>
                                    <td class="col-md-9"><img :src="hosturl + orderDetails.media" alt="" class="custom_order_media"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Quantity</td>
                                    <td class="col-md-9">{{orderDetails.quantity}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Shipment</td>
                                    <td class="col-md-9">{{orderDetails.shipping}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Price</td>
                                    <td class="col-md-9">{{orderDetails.price}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Total</td>
                                    <td class="col-md-9">{{orderDetails.total}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <div>
                            <router-link v-if="levelAccess3" :to="{name: 'editorderpage', params:{id: $route.params.id}}" class="btn btn-info btn-sm"> 
                                <i class="fa fa-save"></i> Edit Custom Order
                            </router-link>
                        </div> -->
                    </div>

                    <div class="table-responsive" v-if="orderDetails.product_id != null">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-3">Order Status</td>
                                    <td class="col-md-9"><strong>{{order_status}}</strong></td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Order Code</td>
                                    <td class="col-md-9">{{orderDetails.order_code}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Product</td>
                                    <td class="col-md-9">{{orderDetails.product_title}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Quantity</td>
                                    <td class="col-md-9">{{orderDetails.quantity}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Unit Price</td>
                                    <td class="col-md-9">{{orderDetails.price}}</td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">Total</td>
                                    <td class="col-md-9">{{orderDetails.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="margin:50px 0px 10px">
                        <label>Order Status</label>
                        <select v-model="order_status" name="" id="" class="form-control">
                            <option value="new">new</option>
                            <option value="processing">processing</option>
                            <option value="shipping">shipping</option>
                            <option value="delivered">delivered</option>
                            <option value="not delivered">not delivered</option>
                            <option value="cancelled">cancelled</option>
                        </select>
                        <button v-if="levelAccess4" @click="updateOrderStatus()" class="btn btn-success btn-sm" style="margin:15px 0px 10px"> 
                            <i class="fa fa-save"></i> Save
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";
    .table>tbody>tr>td:nth-child(1){
        font-family: helveticaNeueMed !important;
    }
    .custom_order_media{
        object-fit: cover;
        height: 150px;
        width: 150px;
    }
</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                orderDetails: {
                    user: {},
                    product: {},
                },
                order_status:'',
                order_id: '',
                order: {},
                user_role: '',
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad();
        },
        computed: {
            levelAccess1(){
                if(this.user_role == 'super admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess2(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess3(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor'){
                    return true;
                }else{
                    return false;
                }
            },
            levelAccess4(){
                if(this.user_role == 'super admin' ||  this.user_role == 'admin' ||  this.user_role == 'editor' ||  this.user_role == 'viewer'){
                    return true;
                }else{
                    return false;
                }
            },
        },
        methods: {
            initialLoad(){
                this.$emit("pageLoading",true);
                
                

                this.user_role = this.global_store.getters.user_role;

                this.$emit("childProps","orders");

                let $this = this;
                this.axios.get(index_url + '/api/get-order/' + this.$route.params.id, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    $this.orderDetails = response.data.orderdetails;
                    $this.order_status = response.data.order.tracking_status;
                    $this.order = response.data.order;
                    
                    this.$emit("pageLoading",false);
                })
                .catch(error => {
                });
            },

            updateOrderStatus(){
                this.$Progress.start();
                
                this.axios.get(index_url + '/api/update-order-status/' + this.$route.params.id + '/' + this.order_status, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                })
                .then(response => {
                    this.$Progress.finish();
                    this.Swal(
                        'Updated!',
                        'Order status updated successfully',
                        'success'
                    );

                    this.$emit("navCart",response.data.newOrderCount);
                })
                .catch(error => {
                    this.$Progress.fail();
                });
            }
        }
  }
</script>