<template>
  <div>
    <div class="admintop"></div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="white-box">

                <h3 class="pageheader">{{product.title}} Reviews</h3>


                <div style="margin-bottom:25px" class="review_count">
                    <button class="btn btn-primary btn-sm" @click="initialLoad('')">
                        All Review ({{all_count}})
                    </button> 
                    <button class="btn btn-info btn-sm" @click="loadReview('5')">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> ({{five_star_count}})
                    </button> 
                    <button class="btn btn-info btn-sm" @click="loadReview('4')">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> ({{four_star_count}})
                    </button> 
                    <button class="btn btn-info btn-sm" @click="loadReview('3')">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> ({{three_star_count}})
                    </button> 
                    <button class="btn btn-info btn-sm" @click="loadReview('2')"><i class="fa fa-star"></i><i class="fa fa-star"></i> ({{two_star_count}})
                    </button> 
                    <button class="btn btn-info btn-sm" @click="loadReview('not 1')">
                        <i class="fa fa-star"></i> ({{one_star_count}})
                    </button>
                </div>
                
                <vue-good-table
                :columns="columns"
                :rows="reviews"
                :search-options="{enabled: true}"
                :sort-options="{enabled: true,initialSortBy: {field: 'review', type: 'asc'}}"
                :pagination-options="{enabled: true, mode: 'pages', perPage: 50, perPageDropdown: [50, 100, 150]}"
                :lineNumbers="true">
                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'user.name'">
                            <router-link :to="{name: 'reviews-by-user', params: { user_id: props.row.user.id } }" class="text-primary" aria-expanded="false">
                                {{props.formattedRow[props.column.field]}}
                            </router-link>
                        </span>
                        <span v-else-if="props.column.field == 'review'">
                            <span v-if="props.formattedRow[props.column.field] == 5">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </span>
                            <span v-else-if="props.formattedRow[props.column.field] == '4'">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </span>
                            <span v-else-if="props.formattedRow[props.column.field] == '3'">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </span>
                            <span v-else-if="props.formattedRow[props.column.field] == '2'">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </span>
                            <span v-else-if="props.formattedRow[props.column.field] == '1'">
                                <i class="fa fa-star"></i>
                            </span>
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                    </template> 
                </vue-good-table>

              </div>
          </div>
        </div>
    </div>
  </div>
</template>


<style lang="scss" scoped >
    @import "./resources/assets/sass/admin/general.scss";

    .productimg{
      object-fit: contain;
      width: 80px;
    }

    .btn{
        margin-bottom: 10px;
    }

    .white-box a {
        font-family: HelveticaNeueMed;
    }

    .text-info {
        color: #1099af !important;
    }

    .white-box i{
        color: #a12327;
    }

    .review_count i{
        color: #fff;
    }

</style>

<script>
  export default {
      
        data() {
            return{
                hosturl: index_url,
                reviews: [],
                columns: [
                    {
                        label: 'ID',
                        field: 'id',
                        hidden: true,
                    },
                    {
                        label: 'User ID',
                        field: 'user.id',
                        hidden: true,
                    },
                    {
                        label: 'Product',
                        field: 'product.title',
                        hidden: true,
                    },
                    {
                        label: 'User',
                        field: 'user.name',
                    },
                    {
                        label: 'Review',
                        field: 'review',
                    },
                    {
                        label: 'Date Created',
                        field: 'created_at',
                    },
                ],
                all_count: '',
                five_star_count: '',
                four_star_count: '',
                three_star_count: '',
                two_star_count: '',
                one_star_count: '',
                product: {},
            }  
        },
        created() {
        },
        mounted(){
            this.initialLoad("");
            this.loadReview("");
        },
        computed: {
        },
        methods: {
            initialLoad(review){

                    this.$emit("pageLoading",true);
                    
                    

                    this.$emit("childProps","reviews");

                    let $this = this;
                    this.axios.get(index_url + '/api/get-product-review/' + this.$route.params.product_id + '/' + review, {
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            $this.reviews = response.data.reviews;
                            $this.all_count = response.data.all_count;
                            $this.five_star_count = response.data.five_star_count;
                            $this.four_star_count = response.data.four_star_count;
                            $this.three_star_count = response.data.three_star_count;
                            $this.two_star_count = response.data.two_star_count;
                            $this.one_star_count = response.data.one_star_count;
                            $this.product = response.data.product;
                            
                            this.$emit("pageLoading",false);
                        })
                        .catch(error => {
                        });

            },
            loadReview(review){

                    let $this = this;
                    this.axios.get(index_url + '/api/get-product-review/' + this.$route.params.product_id + '/' + review, {
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('token')
                            }
                        })
                        .then(response => {
                            $this.reviews = response.data.reviews;
                            $this.all_count = response.data.all_count;
                            $this.five_star_count = response.data.five_star_count;
                            $this.four_star_count = response.data.four_star_count;
                            $this.three_star_count = response.data.three_star_count;
                            $this.two_star_count = response.data.two_star_count;
                            $this.one_star_count = response.data.one_star_count;
                            $this.product = response.data.product;
                            
                        })
                        .catch(error => {
                        });

            }
        }
  }
</script>