    <template>
      <div>
        <aside class="sidebar" @click="checkForMiniSideBar">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div class="profile-image">
                            <img :src="hosturl + '/plugins/images/favicon.png'" alt="user-img" class="img-circle">
                            <!-- <a href="javascript:void(0);" class="dropdown-toggle u-dropdown text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="badge badge-danger">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated flipInY">
                                <li><a href="javascript:void(0);"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-inbox"></i> Inbox</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-cog"></i> Account Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul> -->
                        </div>
                        <!-- <p class="profile-text m-t-15 font-16"><a href="javascript:void(0);"> Hanna Gover</a></p> -->
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="side-menu" >
                        <li>
                            <router-link :to="{name: 'admin-dashboard'}" class="waves-effect" :class="{ active_side_link: active.dashboard }" aria-expanded="false">
                                <i class="fa fa-desktop fa-fw"></i> <span class="hide-menu"> Dashboard </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-users'}" class="waves-effec" :class="{ active_side_link: active.users }" aria-expanded="false">
                                <i class="fa fa-user-o fa-fw"></i> <span class="hide-menu"> Users </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-orders'}" class="waves-effect" :class="{ active_side_link: active.orders }" aria-expanded="false">
                                <i class="fa fa-shopping-cart fa-fw"></i> <span class="hide-menu"> All Orders </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-customorders'}" class="waves-effect" :class="{ active_side_link: active.customorders }" aria-expanded="false">
                                <i class="fa fa-cart-plus fa-fw"></i> <span class="hide-menu"> Custom Orders </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'product-categories'}" class="waves-effect" :class="{ active_side_link: active.product_categories }" aria-expanded="false">
                                <i class="fa fa-th-list fa-fw"></i> <span class="hide-menu"> Product Categories </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-products'}" class="waves-effect" :class="{ active_side_link: active.products }" aria-expanded="false">
                                <i class="fa fa-car fa-fw"></i> <span class="hide-menu"> Products </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-brands'}" class="waves-effect" :class="{ active_side_link: active.brands }" aria-expanded="false">
                                <i class="fa fa-paper-plane-o fa-fw"></i> <span class="hide-menu"> Brands </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'contentpages'}" class="waves-effect" :class="{ active_side_link: active.contentpages }" aria-expanded="false">
                                <i class="fa fa-newspaper-o fa-fw"></i> <span class="hide-menu"> Content Pages </span>
                            </router-link>
                        </li>
                        <li v-if="user_role != 'viewer'">
                            <router-link :to="{name: 'admin-product-brand-logos'}" class="waves-effect" :class="{ active_side_link: active.productbrands }" aria-expanded="false">
                                <i class="fa fa-superpowers fa-fw"></i> <span class="hide-menu"> Product Brand Logos </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-reviews'}" class="waves-effect" :class="{ active_side_link: active.reviews }" aria-expanded="false">
                                <i class="fa fa-star-half-full fa-fw"></i> <span class="hide-menu"> Reviews </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'newsletter-subscription'}" class="waves-effect" :class="{ active_side_link: active.newsletter_subscription }" aria-expanded="false">
                                <i class="fa fa-bullhorn fa-fw"></i> <span class="hide-menu"> Newsletter Subscription </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'settings'}" class="waves-effect" :class="{ active_side_link: active.settings }" aria-expanded="false">
                                <i class="fa fa-gears fa-fw"></i> <span class="hide-menu"> Settings </span>
                            </router-link>
                        </li>
                        <input type="hidden" :value="activeLink">
                    </ul>
                </nav>
            </div>
        </aside>
      </div>
    </template>

<style lang="scss" scoped>
    .sidebar-nav ul#side-menu li a {
        color: #8e8484;
        // padding: 14px 25px 14px 30px;
        display: block;
        font-size: 15px;
        font-weight: 500;
        font-family: HelveticaNeueMed;
    }


    .sidebar {
        overflow-y: unset !important;
    }

    a.active_side_link {
    color: #a12327 !important;    
    font-weight: 600 !important;
    }

</style>


<script>
  export default {
      
        props: ['activesidebar'],
        data() {
            return{
                hosturl: index_url,
                user_role: '',
                active: {
                    dashboard: false,
                    users: false,
                    orders: false,
                    customorders: false,
                    product_categories: false,
                    products: false,
                    reviews: false,
                    brands: false,
                    productbrands: false,
                    newsletter_subscription: false,
                    contentpages: false,
                    settings: false,
                }
                
            }  
        },
        mounted() {
            this.user_role = this.global_store.getters.user_role;
            //this.activeLink();
        },
        created() {
        },
        computed: {
            activeLink(){
                var $this = this;
                $this.removeOtherActiveLinks()
                switch ($this.activesidebar) {
                    case "dashboard":
                        $this.active.dashboard = true;
                    break;
                    case "users":
                        $this.active.users = true;
                    break;
                    case "orders":
                        $this.active.orders = true;
                    break;
                    case "customorders":
                        $this.active.customorders = true;
                    break;
                    case "productcategories":
                        $this.active.product_categories = true;
                    break;
                    case "products":
                        $this.active.products = true;
                    break;
                    case "reviews":
                        $this.active.reviews = true;
                    break;
                    case "brands":
                        $this.active.brands = true;
                    break;
                    case "productbrands":
                        $this.active.productbrands = true;
                    break;
                    case "contentpages":
                        $this.active.contentpages = true;
                    break;
                    case "newsletter_subscription":
                        $this.active.newsletter_subscription = true;
                    break;
                    case "settings":
                        $this.active.settings = true;
                    break;
                    default:

                    break;
                }

                return true;

            },
        },
        methods: {

            checkForMiniSideBar(){
                if(window.innerWidth < 768){
                    this.$emit("miniSideBar",true);
                }
            },

            removeOtherActiveLinks(){
                this.active.dashboard = false;
                this.active.users = false;
                this.active.orders = false;
                this.active.customorders = false;
                this.active.product_categories = false;
                this.active.products = false;
                this.active.reviews = false;
                this.active.brands = false;
                this.active.productbrands = false;
                this.active.contentpages = false;
                this.active.newsletter_subscription = false;
                this.active.settings = false;
            }
        }
  }
</script>
  