.navbar-top-links .progress {
  margin-bottom: 6px
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover,
.well,
pre {
  background: #fff
}


.nav-tabs>li>a{
  border-radius: 0
}

.nav-tabs>li>a {
  color: #2b2b2b
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: #0283cc;
  color: #fff
}

.nav-pills>li>a {
  color: #2b2b2b;
  border-radius: 0
}


.nav-pills-rounded li {
  display: inline-block;
  float: none
}

.nav-pills-rounded li a {
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  color: #8d9498;
  padding: 10px 25px
}

.nav-pills-rounded li.active a,
.nav-pills-rounded li.active a:focus,
.nav-pills-rounded li.active a:hover {
  background: #0283cc;
  color: #fff
}


.editable-table td:focus,
.sttabs nav a:focus {
  outline: 0
}


.navbar-top-links,
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0
}

.navbar-header {
  width: 100%;
  background: #a12327;
  background: -moz-linear-gradient(left, #a12327 1%, #a12327 100%);
  background: -webkit-linear-gradient(left, #a12327 1%, #a12327 100%);
  background: linear-gradient(to right, #a12327 1%, #a12327 100%);
  border: 0
}

.navbar-default {
  border: 0
}

.navbar-top-links .badge {
  position: absolute;
  right: 9px;
  top: 11px
}

.navbar-top-links>li {
  float: left
}



.navbar-top-links>li>a {
  color: rgba(255, 255, 255, .7);
  line-height: 60px;
  min-height: 60px
}

.navbar-top-links>li>a:hover {
  background: rgba(0, 0, 0, .1)
}

.navbar-top-links>li>a:focus {
  background: 0 0
}

.navbar-left>li .app-search,
.navbar-left>li a {
  padding: 0 15px
}

.navbar-right>li>a {
  padding: 0 24px;
  border-right: 1px solid rgba(255, 255, 255, .2)
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background: rgba(0, 0, 0, .1);
  border-color: rgba(255, 255, 255, .2)
}

.navbar-top-links .dropdown-menu li {
  display: block
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal
}

.navbar-top-links .dropdown-alerts,
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks {
  width: 310px;
  min-width: 0
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto
}

.navbar-header .navbar-toggle {
  float: none;
  padding: 0 15px;
  line-height: 60px;
  border: 0;
  color: rgba(255, 255, 255, .5);
  margin: 0;
  display: inline-block;
  border-radius: 0
}


.navbar-header .navbar-toggle:focus,
.navbar-header .navbar-toggle:hover {
  background: rgba(0, 0, 0, .1);
  color: #fff
}

nav.navbar.navbar-default.navbar-static-top.m-b-0 {
  padding: 0px;
}

@media (min-width:768px) {

  .navbar-default {
    position: relative;
    width: 100%;
    top: 0
  }

  .fix-header .navbar-static-top{
    position: fixed
  }

}