$black: #3d3d3d;
$red: #ed3137;

.about-div{
  background-size: cover;
  padding: 40px 0px 100px;
  color: white;
}

.about-header{
  font-size: 30px;
  color: white;
  padding: 45px 0px 0px 65px;
}

.about-header-bg{
  height: 125px;
  background-size: contain !important;
  margin-bottom:45px;
}

.mechanic{
}

.mechanic img{
  width: 700px;
  margin-left: 48px;
  margin-top: 40px;
}

.about_content{
  padding:0px 0px 0px 65px;
}

@media (max-width:1300px){ 
  .about_content{
    padding:0px;
  }
}

@media (max-width:1300px){ 
  .mechanic img[data-v-64065a02] {
      object-fit: contain;
      width: 100%;
      margin-top: 40px;
      margin-left: 0px;
  }
}

