$black: #3d3d3d;
$red: #ed3137;

.navigation_link{
  padding: 40px 20px;
}

a {
  color: inherit;
}

.product-category{
  text-align: left;
}

.add-to-cart-main{
  float: unset;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 4px;
  background-color: $black;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.buy-now{
  float: unset;
  display: inline-block;
  margin-left: 50px;
  padding: 7px 10px;
  cursor: pointer;
}

.star-review{
  color: $red;
  margin: 20px 0px 5px;
}

.action-buttons{
  margin: 25px 0px;
}

.product-box{
  //width: 220px;
  //height: 300px;
  background-color: #ffffff;
  border: solid 1px $black;
  //margin: 0px 10px 20px 10px;
  display: inline-block;
  vertical-align: top;
}



.product-headline-main{
  font-family: HelveticaNeue;
  text-align: left;
  font-size: 20px;
  margin: 40px 0px 0px 0px;
  color: $red;
}

.product-price-main{
  text-align: left;
  font-family: HelveticaNeueMed;
  font-size: 25px;
  margin: 10px 0px;
  font-weight: 500;
  color: $black;
}

.product-sub-header{
  font-size: 17px;
  font-family: HelveticaNeueMed;
  margin: 40px 0px 10px 0px;
}

strong{
  font-family: HelveticaNeueBd;
  margin: 0px 0px 20px 0px;
}

.recently-viewed{
  margin-top: 60px;
  background-color: #efefef;
  padding: 120px 0px;
}

.recent-header{
  font-size: 30px;
  color: $red;
  padding: 45px 0px 0px 65px;
}

.recent-header-bg{
  height: 125px;
  background-size: contain !important;
  margin-bottom:45px;
}

.customer-reviews{
  margin-bottom: 40px;
}

.progress-div{
  margin-bottom: 15px;
}

.progress-div .progress{
  display: inline-block;
  width: 65%;
}
.progress-rating{
  display: inline-block;
  color: #1e17bf;
  vertical-align: middle;
  width: 50px;
}
.progress-percent{
  vertical-align: middle;
  display: inline-block;
  margin-left: 20px;
}
.progress{
  margin-bottom: 0px;
  vertical-align: middle;
  background-color: unset;
  border: solid 0.5px $black;
  border-radius: 4px !important;
}

.progress-bar {
  background-color: $red;
}

.products-nav{
  color: #ed3137 !important;
  font-weight: bolder !important; 
}

//Carousel

.carousel-inner {
  vertical-align: top;
  position: relative;
  width: unset;
  overflow: hidden;
  border: solid 1px #b1b1b1;
  display: inline-block;
}

.carousel-control:focus, .carousel-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .1;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }


.item img{
  width: 520px;
  height: 525px;
  object-fit: cover;
}
  
#myCarousel{
	margin: 0 auto;
	background: #fff0;
}

#thumbCarousel{
	max-width: 650px;
	margin: 0 auto;
	overflow: hidden;
	background: #eaeaea;
  padding: 0px;
}

#thumbCarousel .thumb{
	// float: left;
	margin-right: 0px;
	border: 1px solid #ccc;
	background: #fff;
}

#thumbCarousel .thumb:last-child{
	margin-right: 0;
}

.thumb:hover{
	cursor: pointer;
}

.thumb img{
  width: 114px;
  height: 130px;
  object-fit: cover;
	opacity: 1;
}

.thumb img:hover{
	opacity: 1;
}

.thumb.active img{
	opacity: 1;
}

span.glyphicon.glyphicon-chevron-left,  span.glyphicon.glyphicon-chevron-right{
  color: $black;
}

.thumbCarousel-mobile-view{
  display: none;
}
.thumbCarousel-pc-view{
  display: inline-block;
}

@media (max-width:1416px){
  .thumbCarousel-mobile-view{
    display: inline-block;
  }
  .thumbCarousel-pc-view{
    display: none;
  }

  .carousel-inner {
    display: block;
  }
  #thumbCarousel .thumb {
    display: inline-block;
  }

  #thumbCarousel{
    text-align: center;
  }

  .thumb img{
    width: 125px;
    height: 130px;
    object-fit: contain;
    opacity: 0.5;
  }
}

@media (max-width:400px){
  .item img{
    height: 350px;
  }
}